In [2]:
import pandas as pd

## IMPORTA PLANILHA URSULA ==> homolog-plan-inclusão-siva-faton-14112022.xlsx

## sheet_name='BASE SAP FATON'

In [14]:
arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON = 'C:\\Temp\\faton_siva\\INC_URSULA\\homolog-plan-inclusão-siva-faton-14112022.xlsx'


df_INC_URSULA_BASE_SAP_FATON = pd.read_excel(arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON
                                            ,sheet_name='BASE SAP FATON'
                                            ,header=1
                                            ,usecols=[0,1,3,8,13,14,15,17,23]
                                            ,names=['CodDocVenda_DCR'
                                                   ,'CodDocVenda'
                                                   ,'DCR_Item'
                                                   ,'Data'
                                                   ,'DCR'
                                                   ,'NumItemDCR'
                                                   ,'DataBasica'
                                                   ,'DataCriacao'
                                                   ,'IndInclusao']
                                            ,dtype={'CodDocVenda_DCR':'str'
                                                   ,'CodDocVenda':'str'
                                                   ,'DCR_Item':'str'
                                                   ,'Data':'str'
                                                   ,'DCR':'str'
                                                   ,'NumItemDCR':'str'
                                                   ,'DataBasica':'str'
                                                   ,'DataCriacao':'str'
                                                   ,'IndInclusao':'str'})


df_INC_URSULA_BASE_SAP_FATON

,CodDocVenda_DCR,CodDocVenda,DCR_Item,Data,DCR,NumItemDCR,DataBasica,DataCriacao,IndInclusao
0,303995741009029961,30399574,1009029961110,2022-03-01 00:00:00,1009029961,110,NaN,2022-03-01 00:00:00,Plan
1,306306251009025854,30630625,100902585430,2022-03-01 00:00:00,1009025854,30,NaN,2022-03-01 00:00:00,Plan
2,303996181009029961,30399618,100902996150,2022-03-01 00:00:00,1009029961,50,NaN,2022-03-01 00:00:00,Plan
3,305720491009029961,30572049,100902996170,2022-03-01 00:00:00,1009029961,70,NaN,2022-03-01 00:00:00,Plan
4,304356401009023258,30435640,100902325850,2022-03-01 00:00:00,1009023258,50,NaN,2022-03-01 00:00:00,Plan
...,...,...,...,...,...,...,...,...,...
8981,310953691009155074,31095369,100915507450,2022-03-31 00:00:00,1009155074,50,NaN,2022-03-31 00:00:00,Plan
8982,311046131009152982,31104613,100915298220,2022-03-31 00:00:00,1009152982,20,NaN,2022-03-31 00:00:00,Plan
8983,306899231009047251,30689923,1009047251100,2022-03-07 00:00:00,1009047251,100,NaN,2022-04-01 00:00:00,Plan
8984,306007271009047247,30600727,100904724750,2022-03-07 00:00:00,1009047247,50,NaN,2022-04-01 00:00:00,Plan
8985,305761171009088630,30576117,1009088630210,2022-03-16 00:00:00,1009088630,210,NaN,2022-04-01 00:00:00,Plan

In [15]:
df_INC_URSULA_BASE_SAP_FATON.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

              Qtd
IndInclusao
Inc          1540
Plan         7446

In [79]:
df_SAP_INC_URSULA_FATON = df_INC_URSULA_BASE_SAP_FATON[df_INC_URSULA_BASE_SAP_FATON['IndInclusao'] =='Inc']

df_SAP_PLAN_URSULA_FATON = df_INC_URSULA_BASE_SAP_FATON[df_INC_URSULA_BASE_SAP_FATON['IndInclusao'] =='Plan']

In [80]:
df_SAP_PLAN_URSULA_FATON

,CodDocVenda_DCR,CodDocVenda,DCR_Item,Data,DCR,NumItemDCR,DataBasica,DataCriacao,IndInclusao
0,303995741009029961,30399574,1009029961110,2022-03-01 00:00:00,1009029961,110,NaN,2022-03-01 00:00:00,Plan
1,306306251009025854,30630625,100902585430,2022-03-01 00:00:00,1009025854,30,NaN,2022-03-01 00:00:00,Plan
2,303996181009029961,30399618,100902996150,2022-03-01 00:00:00,1009029961,50,NaN,2022-03-01 00:00:00,Plan
3,305720491009029961,30572049,100902996170,2022-03-01 00:00:00,1009029961,70,NaN,2022-03-01 00:00:00,Plan
4,304356401009023258,30435640,100902325850,2022-03-01 00:00:00,1009023258,50,NaN,2022-03-01 00:00:00,Plan
...,...,...,...,...,...,...,...,...,...
8981,310953691009155074,31095369,100915507450,2022-03-31 00:00:00,1009155074,50,NaN,2022-03-31 00:00:00,Plan
8982,311046131009152982,31104613,100915298220,2022-03-31 00:00:00,1009152982,20,NaN,2022-03-31 00:00:00,Plan
8983,306899231009047251,30689923,1009047251100,2022-03-07 00:00:00,1009047251,100,NaN,2022-04-01 00:00:00,Plan
8984,306007271009047247,30600727,100904724750,2022-03-07 00:00:00,1009047247,50,NaN,2022-04-01 00:00:00,Plan
8985,305761171009088630,30576117,1009088630210,2022-03-16 00:00:00,1009088630,210,NaN,2022-04-01 00:00:00,Plan

## IMPORTA PLANILHA URSULA ==> homolog-plan-inclusão-siva-faton-14112022.xlsx

## sheet_name='FATON - EXTRATOR'

In [21]:

df_INC_URSULA_BASE_EXTRATOR_FATON = pd.read_excel(arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON
                                            ,sheet_name='FATON - EXTRATOR'
                                            ,header=1
                                            ,usecols=[0,1,2,4,5,6,11,12,16,35]
                                            ,names=['CodDocVenda_DCR'
                                                    ,'CodDocVenda'
                                                    ,'NumItemDocVenda'
                                                    ,'DCR'
                                                    ,'NumItemDCR'
                                                    ,'FlagPlanejado'
                                                    ,'DthBaixaColetor'
                                                    ,'DthAbastecimento'
                                                    ,'FlagIncluida'
                                                    ,'FlagIncluida2']
                                            ,dtype={'CodDocVenda_DCR':'str'
                                                    ,'CodDocVenda':'str'
                                                    ,'NumItemDocVenda':'str'
                                                    ,'DCR':'str'
                                                    ,'NumItemDCR':'str'
                                                    ,'FlagPlanejado':'str'
                                                    ,'DthBaixaColetor':'str'
                                                    ,'DthAbastecimento':'str'
                                                    ,'FlagIncluida':'str'
                                                    ,'FlagIncluida2':'str'})


df_INC_URSULA_BASE_EXTRATOR_FATON

,CodDocVenda_DCR,CodDocVenda,NumItemDocVenda,DCR,NumItemDCR,FlagPlanejado,DthBaixaColetor,DthAbastecimento,FlagIncluida,FlagIncluida2
0,309045521009130436,30904552,10,1009130436,220,S,20220325,20220325,S,N
1,306767061009077572,30676706,10,1009077572,40,S,20220316,20220316,N,N
2,308155301009115270,30815530,10,1009115270,290,S,20220324,20220324,N,N
3,306767061009077572,30676706,10,1009077572,40,S,20220316,20220316,S,N
4,308703671009127750,30870367,10,1009127750,190,S,20220326,20220324,N,N
...,...,...,...,...,...,...,...,...,...,...
8373,308589891009125674,30858989,10,1009125674,180,S,20220325,20220325,N,N
8374,308703681009104561,30870368,10,1009104561,100,S,20220324,20220325,N,N
8375,308704041009101733,30870404,10,1009101733,70,S,20220322,20220322,S,N
8376,308720611009096825,30872061,10,1009096825,10,S,20220317,20220317,N,N
8377,309455691009120737,30945569,10,1009120737,30,S,20220323,20220323,N,N

In [19]:
df_INC_URSULA_BASE_EXTRATOR_FATON.groupby(['FlagIncluida']).agg(Qtd=('FlagIncluida','count'))

               Qtd
FlagIncluida
N             7589
S              789

In [23]:
df_INC_URSULA_BASE_EXTRATOR_FATON.groupby(['FlagPlanejado']).agg(Qtd=('FlagPlanejado','count'))

                Qtd
FlagPlanejado
N               613
S              7765

## IMPORTA BASE DATABRICKS ==> INCLUSAO_DATABRICKS.csv
## GABRIEL QUINTELLA

In [75]:
df_INC_BASE_DATABRICKS_FATON = 'C:\\Temp\\faton_siva\\INC_URSULA\\INCLUSAO_DATABRICKS.csv'


df_INC_BASE_DATABRICKS_FATON = pd.read_csv(df_INC_BASE_DATABRICKS_FATON
                                          ,sep=','
                                          ,usecols=[0,1,5,8,9,10,11,16]
                                          ,names=['CodDocVenda'
                                                  ,'NumItemDocVenda'
                                                  ,'FlagPlanejado'
                                                  ,'DCRAbastec'
                                                  ,'ItemDCRAbastec'
                                                  ,'DthBaixaColetor'
                                                  ,'DthAbastecimento'
                                                  ,'FlagIncluida']
                                          ,dtype={'CodDocVenda':'str'
                                                  ,'NumItemDocVenda':'str'
                                                  ,'FlagPlanejado':'str'
                                                  ,'DCRAbastec':'str'
                                                  ,'ItemDCRAbastec':'str'
                                                  ,'DthBaixaColetor':'str'
                                                  ,'DthAbastecimento':'str'
                                                  ,'FlagIncluida':'str'}
                                          ,header=0)

df_INC_BASE_DATABRICKS_FATON['CodDocVenda'].fillna('0',inplace=True)

df_INC_BASE_DATABRICKS_FATON['CodDocVenda_DCR_DATABRICKS'] = df_INC_BASE_DATABRICKS_FATON['CodDocVenda'].astype(int).astype(str) + df_INC_BASE_DATABRICKS_FATON['DCRAbastec']

df_INC_BASE_DATABRICKS_FATON['AnoMes'] = df_INC_BASE_DATABRICKS_FATON['DthBaixaColetor'].str[:6]

df_INC_BASE_DATABRICKS_FATON

,CodDocVenda,NumItemDocVenda,FlagPlanejado,DCRAbastec,ItemDCRAbastec,DthBaixaColetor,DthAbastecimento,FlagIncluida,CodDocVenda_DCR_DATABRICKS,AnoMes
0,0029552338,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
1,0029642896,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
2,0029767347,10.0,S,NaN,NaN,NaN,NaN,1,NaN,NaN
3,0029796881,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
4,0029806003,10.0,S,1008960205,000010,20220211,20220211,1,298060031008960205,202202
...,...,...,...,...,...,...,...,...,...,...
418527,0034188793,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418528,0034252801,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418529,0034364743,10.0,N,NaN,NaN,NaN,NaN,0,NaN,NaN
418530,0034681775,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418531,0034791070,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN

In [78]:
df_INC_BASE_DATABRICKS_FATON[df_INC_BASE_DATABRICKS_FATON['AnoMes'] == '202203'].groupby(['FlagPlanejado']).agg(Qtd=('FlagPlanejado','count'))

#df_INC_BASE_DATABRICKS_FATON.groupby(['FlagPlanejado']).agg(Qtd=('FlagPlanejado','count'))

                Qtd
FlagPlanejado
N               613
S              6566

In [95]:
df_INC_BASE_DATABRICKS_FATON[df_INC_BASE_DATABRICKS_FATON['CodDocVenda'] == '0030569740']

Empty DataFrame
Columns: [CodDocVenda, NumItemDocVenda, FlagPlanejado, DCRAbastec, ItemDCRAbastec, DthBaixaColetor, DthAbastecimento, FlagIncluida, CodDocVenda_DCR_DATABRICKS, AnoMes]
Index: []

In [93]:
result_INC = pd.merge(left=df_SAP_INC_URSULA_FATON
    , right=df_INC_BASE_DATABRICKS_FATON
    , left_on='CodDocVenda_DCR'
    , right_on='CodDocVenda_DCR_DATABRICKS'
    , how='left'
    )[['CodDocVenda_DCR', 'DCR', 'NumItemDCR','CodDocVenda_x','DCR_Item', 'CodDocVenda_DCR_DATABRICKS']]


result_INC['CodDocVenda_DCR_DATABRICKS'].fillna(0,inplace=True)

result_INC = result_INC.drop_duplicates(subset = ['CodDocVenda_DCR','DCR_Item'],keep = 'last').reset_index(drop = True)

result_INC

result_INC[result_INC['CodDocVenda_DCR_DATABRICKS']==0]

,CodDocVenda_DCR,DCR,NumItemDCR,CodDocVenda_x,DCR_Item,CodDocVenda_DCR_DATABRICKS
56,306029331009026769,1009026769,170,30602933,1009026769170,0
97,306161161009029593,1009029593,180,30616116,1009029593180,0
102,306932351009034842,1009034842,120,30693235,1009034842120,0
122,306775791009026769,1009026769,310,30677579,1009026769310,0
460,307596151009064768,1009064768,20,30759615,100906476820,0
462,303346201009060726,1009060726,130,30334620,1009060726130,0
553,308188231009074821,1009074821,40,30818823,100907482140,0
689,308812761009092183,1009092183,50,30881276,100909218350,0
779,308145821009073916,1009073916,120,30814582,1009073916120,0
849,308723201009101594,1009101594,150,30872320,1009101594150,0
877,309276131009101594,1009101594,160,30927613,1009101594160,0
887,309408731009110964,1009110964,40,30940873,100911096440,0
948,309228541009115179,1009115179,170,30922854,1009115179170,0
1041,309868411009124816,1009124816,20,30986841,100912481620,0
1268,311512601009152056,1009152056,20,31151260,100915205620,0

In [ ]:
# DAS 15 ORDENS ACIMA ALGUMAS ESTÃO COM A NOTA FISCAL CANCELADA

In [94]:

result_PLAN = pd.merge(left=df_SAP_PLAN_URSULA_FATON
    , right=df_INC_BASE_DATABRICKS_FATON
    , left_on='CodDocVenda_DCR'
    , right_on='CodDocVenda_DCR_DATABRICKS'
    , how='left'
    )[['CodDocVenda_DCR', 'DCR', 'NumItemDCR','CodDocVenda_x','DCR_Item', 'CodDocVenda_DCR_DATABRICKS']]


result_PLAN['CodDocVenda_DCR_DATABRICKS'].fillna(0,inplace=True)

result_PLAN = result_PLAN.drop_duplicates(subset = ['CodDocVenda_DCR','DCR_Item'],keep = 'last').reset_index(drop = True)

result_PLAN

result_PLAN[result_PLAN['CodDocVenda_DCR_DATABRICKS']==0]

,CodDocVenda_DCR,DCR,NumItemDCR,CodDocVenda_x,DCR_Item,CodDocVenda_DCR_DATABRICKS
22,305697401009023254,1009023254,80,30569740,100902325480,0
38,306521611009023254,1009023254,100,30652161,1009023254100,0
188,306811721009029586,1009029586,120,30681172,1009029586120,0
240,306746021009029583,1009029583,90,30674602,100902958390,0
535,304386871009036185,1009036185,20,30438687,100903618520,0
1892,304385981009047880,1009047880,40,30438598,100904788040,0
2886,307089361009077562,1009077562,140,30708936,1009077562140,0
2940,307544741009077558,1009077558,150,30754474,1009077558150,0
3671,308453271009101594,1009101594,40,30845327,100910159440,0
3693,308688881009101197,1009101197,30,30868888,100910119730,0
3695,307894991009101594,1009101594,110,30789499,1009101594110,0
3710,308606141009101594,1009101594,90,30860614,100910159490,0
3715,308723311009101594,1009101594,30,30872331,100910159430,0
3724,308767661009101915,1009101915,110,30876766,1009101915110,0
3785,308453331009101594,1009101594,60,30845333,100910159460,0
3803,308453401009101594,1009101594,130,30845340,1009101594130,0
3850,308453411009101594,1009101594,20,30845341,100910159420,0
3884,308453361009101594,1009101594,120,30845336,1009101594120,0
3885,308782421009101594,1009101594,140,30878242,1009101594140,0
3905,308723281009101594,1009101594,100,30872328,1009101594100,0
3912,308835931009101594,1009101594,70,30883593,100910159470,0
3953,307961281009101594,1009101594,50,30796128,100910159450,0
4082,308117011009105804,1009105804,100,30811701,1009105804100,0
4113,308929481009107552,1009107552,210,30892948,1009107552210,0
4209,309148771009107054,1009107054,30,30914877,100910705430,0
4283,308834501009107556,1009107556,180,30883450,1009107556180,0
4517,309068511009107494,1009107494,110,30906851,1009107494110,0
4572,308828901009107484,1009107484,140,30882890,1009107484140,0
5017,308127151009125677,1009125677,140,30812715,1009125677140,0
5443,308679121009125979,1009125979,30,30867912,100912597930,0
6108,308724021009129667,1009129667,80,30872402,100912966780,0
6667,310620701009148079,1009148079,140,31062070,1009148079140,0

In [100]:
#df_INC_BASE_DATABRICKS_FATON[df_INC_BASE_DATABRICKS_FATON['CodDocVenda'] == '30569740']

df_INC_BASE_DATABRICKS_FATON

,CodDocVenda,NumItemDocVenda,FlagPlanejado,DCRAbastec,ItemDCRAbastec,DthBaixaColetor,DthAbastecimento,FlagIncluida,CodDocVenda_DCR_DATABRICKS,AnoMes
0,0029552338,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
1,0029642896,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
2,0029767347,10.0,S,NaN,NaN,NaN,NaN,1,NaN,NaN
3,0029796881,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
4,0029806003,10.0,S,1008960205,000010,20220211,20220211,1,298060031008960205,202202
...,...,...,...,...,...,...,...,...,...,...
418527,0034188793,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418528,0034252801,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418529,0034364743,10.0,N,NaN,NaN,NaN,NaN,0,NaN,NaN
418530,0034681775,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN
418531,0034791070,10.0,S,NaN,NaN,NaN,NaN,0,NaN,NaN

In [134]:

result_INC_PLAN = pd.merge(left=df_INC_URSULA_BASE_SAP_FATON
    , right=df_INC_BASE_DATABRICKS_FATON
    , left_on='CodDocVenda_DCR'
    , right_on='CodDocVenda_DCR_DATABRICKS'
    , how='left'
    )[['CodDocVenda_DCR', 'DCR', 'NumItemDCR','CodDocVenda_x','DCR_Item', 'CodDocVenda_DCR_DATABRICKS']]

result_INC_PLAN['CodDocVenda_DCR_DATABRICKS'].fillna(0,inplace=True)

result_INC_PLAN = result_INC_PLAN.drop_duplicates(subset = ['CodDocVenda_DCR','DCR_Item'],keep = 'last').reset_index(drop = True)

result_INC_PLAN[result_INC_PLAN['CodDocVenda_DCR_DATABRICKS']==0]

,CodDocVenda_DCR,DCR,NumItemDCR,CodDocVenda_x,DCR_Item,CodDocVenda_DCR_DATABRICKS
27,305697401009023254,1009023254,80,30569740,100902325480,0
50,306521611009023254,1009023254,100,30652161,1009023254100,0
225,306029331009026769,1009026769,170,30602933,1009026769170,0
254,306811721009029586,1009029586,120,30681172,1009029586120,0
314,306746021009029583,1009029583,90,30674602,100902958390,0
434,306161161009029593,1009029593,180,30616116,1009029593180,0
465,306932351009034842,1009034842,120,30693235,1009034842120,0
572,306775791009026769,1009026769,310,30677579,1009026769310,0
684,304386871009036185,1009036185,20,30438687,100903618520,0
2345,304385981009047880,1009047880,40,30438598,100904788040,0
2418,307596151009064768,1009064768,20,30759615,100906476820,0
2426,303346201009060726,1009060726,130,30334620,1009060726130,0
2994,308188231009074821,1009074821,40,30818823,100907482140,0
3522,307089361009077562,1009077562,140,30708936,1009077562140,0
3587,307544741009077558,1009077558,150,30754474,1009077558150,0
3867,308812761009092183,1009092183,50,30881276,100909218350,0
4361,308145821009073916,1009073916,120,30814582,1009073916120,0
4467,308453271009101594,1009101594,40,30845327,100910159440,0
4499,308688881009101197,1009101197,30,30868888,100910119730,0
4501,307894991009101594,1009101594,110,30789499,1009101594110,0
4517,308606141009101594,1009101594,90,30860614,100910159490,0
4522,308723311009101594,1009101594,30,30872331,100910159430,0
4533,308767661009101915,1009101915,110,30876766,1009101915110,0
4599,308453331009101594,1009101594,60,30845333,100910159460,0
4617,308453401009101594,1009101594,130,30845340,1009101594130,0
4671,308453411009101594,1009101594,20,30845341,100910159420,0
4709,308453361009101594,1009101594,120,30845336,1009101594120,0
4711,308782421009101594,1009101594,140,30878242,1009101594140,0
4735,308723281009101594,1009101594,100,30872328,1009101594100,0
4743,308835931009101594,1009101594,70,30883593,100910159470,0
4789,307961281009101594,1009101594,50,30796128,100910159450,0
4847,308723201009101594,1009101594,150,30872320,1009101594150,0
4947,308117011009105804,1009105804,100,30811701,1009105804100,0
4984,308929481009107552,1009107552,210,30892948,1009107552210,0
5020,309276131009101594,1009101594,160,30927613,1009101594160,0
5095,309148771009107054,1009107054,30,30914877,100910705430,0
5106,309408731009110964,1009110964,40,30940873,100911096440,0
5182,308834501009107556,1009107556,180,30883450,1009107556180,0
5455,309068511009107494,1009107494,110,30906851,1009107494110,0
5520,308828901009107484,1009107484,140,30882890,1009107484140,0
5524,309228541009115179,1009115179,170,30922854,1009115179170,0
6031,308127151009125677,1009125677,140,30812715,1009125677140,0
6284,309868411009124816,1009124816,20,30986841,100912481620,0
6505,308679121009125979,1009125979,30,30867912,100912597930,0
7255,308724021009129667,1009129667,80,30872402,100912966780,0
7935,310620701009148079,1009148079,140,31062070,1009148079140,0
7941,311512601009152056,1009152056,20,31151260,100915205620,0

## IMPORTA PLANILHA URSULA ==> homolog-plan-inclusão-siva-faton-14112022.xlsx
# sheet_name='BASE SAP SIVA'

In [181]:

df_INC_URSULA_BASE_SAP_SIVA = pd.read_excel(arquivo_INC_URSULA_BASE_SAP_EXTRATOR_FATON
                                            ,sheet_name='BASE SAP SIVA'
                                            ,header=1
                                            ,usecols=[0,1,3,8,13,14,15,17,23]
                                            ,names=['CodDocVenda_DCR'
                                                   ,'CodDocVenda'
                                                   ,'DCR_Item'
                                                   ,'Data'
                                                   ,'DCR'
                                                   ,'NumItemDCR'
                                                   ,'DataBasica'
                                                   ,'DataCriacao'
                                                   ,'IndInclusao']
                                            ,dtype={'CodDocVenda_DCR':'str'
                                                   ,'CodDocVenda':'str'
                                                   ,'DCR_Item':'str'
                                                   ,'Data':'str'
                                                   ,'DCR':'str'
                                                   ,'NumItemDCR':'str'
                                                   ,'DataBasica':'str'
                                                   ,'DataCriacao':'str'
                                                   ,'IndInclusao':'str'})


df_INC_URSULA_BASE_SAP_SIVA['Chave_SIVA_SAP'] = df_INC_URSULA_BASE_SAP_SIVA['DCR_Item'] + df_INC_URSULA_BASE_SAP_SIVA['CodDocVenda']

df_INC_URSULA_BASE_SAP_SIVA[df_INC_URSULA_BASE_SAP_SIVA['CodDocVenda'] == '30263539']

,CodDocVenda_DCR,CodDocVenda,DCR_Item,Data,DCR,NumItemDCR,DataBasica,DataCriacao,IndInclusao,Chave_SIVA_SAP
1101,302635391009023158,30263539,1009023158220,2022-03-02 00:00:00,1009023158,220,NaN,2022-03-02 00:00:00,Plan,100902315822030263539
1102,302635391009023158,30263539,1009023158230,2022-03-02 00:00:00,1009023158,230,NaN,2022-03-02 00:00:00,Plan,100902315823030263539
1178,302635391009023158,30263539,1009023158180,2022-03-02 00:00:00,1009023158,180,NaN,2022-03-02 00:00:00,Plan,100902315818030263539

In [182]:
df_INC_URSULA_BASE_SAP_SIVA.groupby(['IndInclusao']).agg(Qtd=('IndInclusao','count'))

               Qtd
IndInclusao
Inc           6881
Plan         42209

In [183]:
df_SAP_INC_URSULA_SIVA = df_INC_URSULA_BASE_SAP_SIVA[df_INC_URSULA_BASE_SAP_SIVA['IndInclusao']=='Inc']

df_SAP_PLAN_URSULA_SIVA = df_INC_URSULA_BASE_SAP_SIVA[df_INC_URSULA_BASE_SAP_SIVA['IndInclusao']=='Plan']

df_SAP_PLAN_URSULA_SIVA = df_SAP_PLAN_URSULA_SIVA.drop_duplicates(subset = ['CodDocVenda_DCR'],keep = 'last').reset_index(drop = True)

df_SAP_PLAN_URSULA_SIVA

,CodDocVenda_DCR,CodDocVenda,DCR_Item,Data,DCR,NumItemDCR,DataBasica,DataCriacao,IndInclusao,Chave_SIVA_SAP
0,305475041009023366,30547504,100902336610,2022-03-01 00:00:00,1009023366,10,NaN,2022-03-01 00:00:00,Plan,10090233661030547504
1,305474871009023366,30547487,100902336620,2022-03-01 00:00:00,1009023366,20,NaN,2022-03-01 00:00:00,Plan,10090233662030547487
2,306294011009023376,30629401,100902337630,2022-03-01 00:00:00,1009023376,30,NaN,2022-03-01 00:00:00,Plan,10090233763030629401
3,303197431009023376,30319743,1009023376140,2022-03-01 00:00:00,1009023376,140,NaN,2022-03-01 00:00:00,Plan,100902337614030319743
4,303197441009023376,30319744,1009023376150,2022-03-01 00:00:00,1009023376,150,NaN,2022-03-01 00:00:00,Plan,100902337615030319744
...,...,...,...,...,...,...,...,...,...,...
41317,310963891009153255,31096389,100915325540,2022-03-31 00:00:00,1009153255,40,NaN,2022-03-31 00:00:00,Plan,10091532554031096389
41318,310982901009153255,31098290,1009153255130,2022-03-31 00:00:00,1009153255,130,NaN,2022-03-31 00:00:00,Plan,100915325513031098290
41319,309451271009148144,30945127,1009148144110,2022-03-31 00:00:00,1009148144,110,NaN,2022-03-31 00:00:00,Plan,100914814411030945127
41320,310646901009152959,31064690,1009152959160,2022-03-31 00:00:00,1009152959,160,NaN,2022-03-31 00:00:00,Plan,100915295916031064690
41321,309143141009153131,30914314,100915313140,2022-03-31 00:00:00,1009153131,40,NaN,2022-03-31 00:00:00,Plan,10091531314030914314

# IMPORTA BASE DATABRICKS ==> INCLUSAO_DATABRICKS_SIVA.csv
## GABRIEL QUINTELLA

In [185]:
df_INC_BASE_DATABRICKS_SIVA = 'C:\\Temp\\faton_siva\\INC_URSULA\\INCLUSAO_DATABRICKS_SIVA.csv'


df_INC_BASE_DATABRICKS_SIVA = pd.read_csv(df_INC_BASE_DATABRICKS_SIVA
                                          ,sep=','
                                          ,usecols=[0,1,3,4,5,16,35]
                                          ,names=['CodDocVenda'
                                                  ,'NumItemDocVenda'
                                                  ,'DCRAbastec'
                                                  ,'ItemDCRAbastec'
                                                  ,'FlagPlanejado'  
                                                  ,'FlagIncluida'
                                                  ,'DthLancamentoEstatistica']
                                          ,dtype={'CodDocVenda':'str'
                                                  ,'NumItemDocVenda':'str'
                                                  ,'DCRAbastec':'str'
                                                  ,'ItemDCRAbastec':'str'
                                                  ,'FlagPlanejado':'str'
                                                  ,'FlagIncluida':'str'
                                                  ,'DthLancamentoEstatistica':'str'}
                                          ,header=0)

df_INC_BASE_DATABRICKS_SIVA['FlagPlanejado'].fillna('0',inplace=True)
df_INC_BASE_DATABRICKS_SIVA['FlagIncluida'].fillna('0',inplace=True)
df_INC_BASE_DATABRICKS_SIVA['ItemDCRAbastec'].fillna('0',inplace=True)
df_INC_BASE_DATABRICKS_SIVA['CodDocVenda'].fillna('0',inplace=True)

df_INC_BASE_DATABRICKS_SIVA['AnoMes'] = df_INC_BASE_DATABRICKS_SIVA['DthLancamentoEstatistica'].str[:6]

df_INC_BASE_DATABRICKS_SIVA['Chave_SIVA_DATABRICKS'] = df_INC_BASE_DATABRICKS_SIVA['DCRAbastec'].astype(str) \
                                                       + df_INC_BASE_DATABRICKS_SIVA['ItemDCRAbastec'].astype(int).astype(str) \
                                                       + df_INC_BASE_DATABRICKS_SIVA['CodDocVenda'].astype(int).astype(str)

#df_INC_BASE_DATABRICKS_SIVA['AnoMes'] = df_INC_BASE_DATABRICKS_SIVA['DthBaixaColetor'].str[:6]

df_INC_BASE_DATABRICKS_SIVA

,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,FlagIncluida,DthLancamentoEstatistica,AnoMes,Chave_SIVA_DATABRICKS
0,0003034565,10.0,NaN,0,N,N,20220217,202202,nan03034565
1,0003151391,10.0,NaN,0,N,N,20220323,202203,nan03151391
2,0003628106,10.0,NaN,0,N,N,20220324,202203,nan03628106
3,0003719236,10.0,NaN,0,N,N,20220610,202206,nan03719236
4,0003913561,10.0,NaN,0,N,N,20221214,202212,nan03913561
...,...,...,...,...,...,...,...,...,...
535682,0033185293,10.0,1009706120,000360,N,S,20220812,202208,100970612036033185293
535683,0033188177,10.0,1009717119,000250,N,S,20220815,202208,100971711925033188177
535684,0033197074,10.0,1009706120,000370,N,S,20220812,202208,100970612037033197074
535685,0033197179,10.0,1009717027,000050,N,S,20220812,202208,10097170275033197179
535686,0033199452,10.0,1009719704,000100,N,S,20220815,202208,100971970410033199452

In [186]:
df_DATABRICKS_INC_SIVA = df_INC_BASE_DATABRICKS_SIVA[df_INC_BASE_DATABRICKS_SIVA['FlagIncluida']=='S']

df_DATABRICKS_INC_SIVA

df_DATABRICKS_PLAN_SIVA = df_INC_BASE_DATABRICKS_SIVA[df_INC_BASE_DATABRICKS_SIVA['FlagPlanejado']=='S']

df_DATABRICKS_PLAN_SIVA

,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,FlagIncluida,DthLancamentoEstatistica,AnoMes,Chave_SIVA_DATABRICKS
222034,0023963434,10.0,1009373834,000080,S,N,20220525,202205,10093738348023963434
222035,0023963435,10.0,1009378741,000020,S,N,20220526,202205,10093787412023963435
222036,0024835404,10.0,1009374365,000080,S,N,20220526,202205,10093743658024835404
222037,0024835424,10.0,1009387523,000090,S,N,20220601,202206,10093875239024835424
222038,0025265423,10.0,1009390146,000180,S,N,20220601,202206,100939014618025265423
...,...,...,...,...,...,...,...,...,...
535672,0033102695,10.0,1009716802,000150,S,N,20220812,202208,100971680215033102695
535673,0033110474,10.0,1009720052,000120,S,N,20220815,202208,100972005212033110474
535676,0033122988,10.0,1009716802,000100,S,N,20220812,202208,100971680210033122988
535678,0033129941,10.0,1009720052,000070,S,N,20220815,202208,10097200527033129941
535680,0033155749,10.0,1009716802,000070,S,N,20220812,202208,10097168027033155749

In [188]:
 
result_SIVA_INC = pd.merge(left=df_SAP_INC_URSULA_SIVA
    , right=df_DATABRICKS_INC_SIVA
    , left_on='Chave_SIVA_SAP'
    , right_on='Chave_SIVA_DATABRICKS'
    , how='left'
    )[['CodDocVenda_DCR', 'DCR', 'NumItemDCR','CodDocVenda_x','DCR_Item', 'Chave_SIVA_DATABRICKS']]

result_SIVA_INC['Chave_SIVA_DATABRICKS'].fillna(0,inplace=True)

result_SIVA_INC = result_SIVA_INC.drop_duplicates(subset = ['CodDocVenda_DCR'],keep = 'last').reset_index(drop = True)

result_SIVA_INC[result_SIVA_INC['Chave_SIVA_DATABRICKS']!=0][['DCR_Item'
                                                                   , 'DCR'
                                                                   , 'NumItemDCR'
                                                                   , 'CodDocVenda_x'
                                                                   ,'CodDocVenda_DCR'
                                                                   ]] #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_SIVA_INC

           DCR_Item         DCR NumItemDCR CodDocVenda_x     CodDocVenda_DCR
0      100903188610  1009031886         10      30519806  305198061009031886
1      100903188630  1009031886         30      30495565  304955651009031886
2      100903188640  1009031886         40      30570761  305707611009031886
3      100903045810  1009030458         10      30519822  305198221009030458
4      100903045820  1009030458         20      30546983  305469831009030458
...             ...         ...        ...           ...                 ...
6706   100915291480  1009152914         80      30944988  309449881009152914
6709  1009146351410  1009146351        410      30730988  307309881009146351
6711  1009153269130  1009153269        130      31073869  310738691009153269
6712  1009153275160  1009153275        160      31116341  311163411009153275
6713  1009152164160  1009152164        160      31159162  311591621009152164

[5694 rows x 5 columns]

In [204]:
df_DATABRICKS_INC_SIVA = df_DATABRICKS_INC_SIVA[df_DATABRICKS_INC_SIVA['AnoMes']=='202203']
df_DATABRICKS_INC_SIVA

,CodDocVenda,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,FlagPlanejado,FlagIncluida,DthLancamentoEstatistica,AnoMes,Chave_SIVA_DATABRICKS
222069,0028409921,10.0,1009060685,000240,N,S,20220314,202203,100906068524028409921
229820,0029906044,10.0,1009151958,000160,N,S,20220331,202203,100915195816029906044
235220,0030161498,10.0,1009030161,000120,N,S,20220317,202203,100903016112030161498
236349,0030191832,10.0,1009035852,000240,N,S,20220304,202203,100903585224030191832
236350,0030191834,10.0,1009023378,000160,N,S,20220302,202203,100902337816030191834
...,...,...,...,...,...,...,...,...,...
477606,0031151210,10.0,1009153277,000180,N,S,20220331,202203,100915327718031151210
477646,0031153147,10.0,1009152914,000050,N,S,20220331,202203,10091529145031153147
477777,0031155748,10.0,1009153119,000140,N,S,20220331,202203,100915311914031155748
478022,0031156973,10.0,1009160870,000110,N,S,20220331,202203,100916087011031156973
478130,0031160875,10.0,1009148152,000330,N,S,20220331,202203,100914815233031160875

In [213]:
 
result_SIVA_INC2 = pd.merge(left=df_DATABRICKS_INC_SIVA
    , right=df_SAP_INC_URSULA_SIVA
    , left_on='Chave_SIVA_DATABRICKS'
    , right_on='Chave_SIVA_SAP'
    , how='left'
    )[['Chave_SIVA_DATABRICKS','CodDocVenda_x', 'NumItemDocVenda', 'DCRAbastec', 'ItemDCRAbastec','DCR_Item', 'Chave_SIVA_SAP']]

result_SIVA_INC2['Chave_SIVA_SAP'].fillna(0,inplace=True)

result_SIVA_INC2 = result_SIVA_INC2.drop_duplicates(subset = ['Chave_SIVA_DATABRICKS'],keep = 'last').reset_index(drop = True)

result_SIVA_INC2[result_SIVA_INC2['Chave_SIVA_SAP']!=0] #[['DCR_Item'
                                                        #           , 'DCR'
                                                        #           , 'NumItemDCR'
                                                        #           , 'CodDocVenda_x'
                                                        #           ,'CodDocVenda_DCR'
                                                        #           ]] #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto.csv',sep=';',index=False)

#result_SIVA_INC

,Chave_SIVA_DATABRICKS,CodDocVenda_x,NumItemDocVenda,DCRAbastec,ItemDCRAbastec,DCR_Item,Chave_SIVA_SAP
0,100906068524028409921,0028409921,10.0,1009060685,000240,1009060685240,100906068524028409921
1,100915195816029906044,0029906044,10.0,1009151958,000160,1009151958160,100915195816029906044
2,100903016112030161498,0030161498,10.0,1009030161,000120,1009030161120,100903016112030161498
3,100903585224030191832,0030191832,10.0,1009035852,000240,1009035852240,100903585224030191832
4,100902337816030191834,0030191834,10.0,1009023378,000160,1009023378160,100902337816030191834
...,...,...,...,...,...,...,...
5903,100914747319031150052,0031150052,10.0,1009147473,000190,1009147473190,100914747319031150052
5904,100915318320031151099,0031151099,10.0,1009153183,000200,1009153183200,100915318320031151099
5906,10091529145031153147,0031153147,10.0,1009152914,000050,100915291450,10091529145031153147
5907,100915311914031155748,0031155748,10.0,1009153119,000140,1009153119140,100915311914031155748
5909,100914815233031160875,0031160875,10.0,1009148152,000330,1009148152330,100914815233031160875

In [177]:
 
result_SIVA_PLAN = pd.merge(left=df_SAP_PLAN_URSULA_SIVA
    , right=df_DATABRICKS_PLAN_SIVA
    , left_on='CodDocVenda_DCR'
    , right_on='CodDocVenda_DCR_DATABRICKS'
    , how='left'
    )[['CodDocVenda_DCR', 'DCR', 'NumItemDCR','CodDocVenda_x','DCR_Item', 'CodDocVenda_DCR_DATABRICKS']]

result_SIVA_PLAN['CodDocVenda_DCR_DATABRICKS'].fillna(0,inplace=True)

result_SIVA_PLAN = result_SIVA_PLAN.drop_duplicates(subset = ['CodDocVenda_DCR'],keep = 'last').reset_index(drop = True)

result_SIVA_PLAN[result_SIVA_PLAN['CodDocVenda_DCR_DATABRICKS']!=0][['DCR_Item'
                                                                   , 'DCR'
                                                                   , 'NumItemDCR'
                                                                   , 'CodDocVenda_x'
                                                                   ,'CodDocVenda_DCR'
                                                                   ]] #.to_csv('C:\\Temp\\faton_siva\\INC_URSULA\\resto2.csv',sep=';',index=False)

#result_SIVA_PLAN

            DCR_Item         DCR NumItemDCR CodDocVenda_x     CodDocVenda_DCR
0       100902336610  1009023366         10      30547504  305475041009023366
1       100902336620  1009023366         20      30547487  305474871009023366
2       100902337630  1009023376         30      30629401  306294011009023376
3      1009023376140  1009023376        140      30319743  303197431009023376
4      1009023376150  1009023376        150      30319744  303197441009023376
...              ...         ...        ...           ...                 ...
41317   100915325540  1009153255         40      31096389  310963891009153255
41318  1009153255130  1009153255        130      31098290  310982901009153255
41319  1009148144110  1009148144        110      30945127  309451271009148144
41320  1009152959160  1009152959        160      31064690  310646901009152959
41321   100915313140  1009153131         40      30914314  309143141009153131

[41268 rows x 5 columns]