* Criado por: Gabriel Quintella
* Data Criação: 01.01.2023
* Data Última Modificação: 02.01.2023
* Repositório: https://github.com/dbaassists/Python/tree/main/ProjetoPythonKB 

DESCRIÇÃO DO PROJETO

Criar uma base de conhecimento (KB) com comandos básicos de Python usando a biblioteca Pandas para auxiliar no seu aprendizado da linguagem.

* Dia 1 - 01.01.2023 - Lançamento do Projeto;
*  Dia 2 - 02.01.2023 - Aprimoramento do Projeto com melhoria nos exemplos criados;

    ** Nesse dia estaremos abordando técnicas de importação de arquivos do tipo CSV e Excel

In [2]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [28]:
# CONFIGURANDO A EXIBIÇAO DE REGISTROS NA TELA #

pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [16]:
# IMPORTAÇÃO SIMPLES DE PLANILHA EXCEL #

arquivo_Alex_NE = 'C:\\Temp\\Frete_Rodrigo\\INDICADORES_FRETE_2021_COMPLETO_zerados.xlsx'

dfANE = pd.read_excel(arquivo_Alex_NE
                      , sheet_name='Não encontrados'
                      , usecols=[0]
                      , names=['CodDocVenda']
                      , dtype={'CodDocVenda':'str'})

In [8]:
# IMPORTAÇAO SIMPLES DE ARQUIVO CSV #

arquivoCSV = '..\ProjetoPythonKB\Dados\consulta_cand_2022_BRASIL.csv'

dfCandidatos = pd.read_csv(arquivoCSV
                   , sep=';'
                   ,encoding='latin-1'
                   )

In [11]:
# SELECIONANDO TOP N REGISTROS DE UM DATAFRAME #

dfCandidatos.head(1)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
0,06/10/2022,13:10:14,2022,2,ELEIÇÃO ORDINÁRIA,1,546,Eleições Gerais Estaduais 2022,02/10/2022,ESTADUAL,...,"6,02E+18",2,DEFERIDO,2,DEFERIDO,SIM,Válido,2,Deferido,S

In [12]:
dfCandidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29262 entries, 0 to 29261
Data columns (total 71 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   DT_GERACAO                     29262 non-null  object
 1   HH_GERACAO                     29262 non-null  object
 2   ANO_ELEICAO                    29262 non-null  int64
 3   CD_TIPO_ELEICAO                29262 non-null  int64
 4   NM_TIPO_ELEICAO                29262 non-null  object
 5   NR_TURNO                       29262 non-null  int64
 6   CD_ELEICAO                     29262 non-null  int64
 7   DS_ELEICAO                     29262 non-null  object
 8   DT_ELEICAO                     29262 non-null  object
 9   TP_ABRANGENCIA                 29262 non-null  object
 10  SG_UF                          29262 non-null  object
 11  SG_UE                          29262 non-null  object
 12  NM_UE                          29262 non-null  object
 13  CD_CARGO                       29262 non-null  int64
 14  DS_CARGO                       29262 non-null  object
 15  SQ_CANDIDATO                   29262 non-null  int64
 16  NR_CANDIDATO                   29262 non-null  int64
 17  NM_CANDIDATO                   29262 non-null  object
 18  NM_URNA_CANDIDATO              29262 non-null  object
 19  NM_SOCIAL_CANDIDATO            29262 non-null  object
 20  NR_CPF_CANDIDATO               29262 non-null  int64
 21  NM_EMAIL                       29262 non-null  object
 22  CD_SITUACAO_CANDIDATURA        29262 non-null  int64
 23  DS_SITUACAO_CANDIDATURA        29262 non-null  object
 24  CD_DETALHE_SITUACAO_CAND       29262 non-null  int64
 25  DS_DETALHE_SITUACAO_CAND       29262 non-null  object
 26  TP_AGREMIACAO                  29262 non-null  object
 27  NR_PARTIDO                     29262 non-null  int64
 28  SG_PARTIDO                     29262 non-null  object
 29  NM_PARTIDO                     29262 non-null  object
 30  NR_FEDERACAO                   29262 non-null  int64
 31  NM_FEDERACAO                   29262 non-null  object
 32  SG_FEDERACAO                   29262 non-null  object
 33  DS_COMPOSICAO_FEDERACAO        29262 non-null  object
 34  SQ_COLIGACAO                   29262 non-null  object
 35  NM_COLIGACAO                   29262 non-null  object
 36  DS_COMPOSICAO_COLIGACAO        29262 non-null  object
 37  CD_NACIONALIDADE               29262 non-null  int64
 38  DS_NACIONALIDADE               29262 non-null  object
 39  SG_UF_NASCIMENTO               29262 non-null  object
 40  CD_MUNICIPIO_NASCIMENTO        29262 non-null  int64
 41  NM_MUNICIPIO_NASCIMENTO        29262 non-null  object
 42  DT_NASCIMENTO                  29238 non-null  object
 43  NR_IDADE_DATA_POSSE            29238 non-null  float64
 44  NR_TITULO_ELEITORAL_CANDIDATO  29262 non-null  object
 45  CD_GENERO                      29262 non-null  int64
 46  DS_GENERO                      29262 non-null  object
 47  CD_GRAU_INSTRUCAO              29262 non-null  int64
 48  DS_GRAU_INSTRUCAO              29262 non-null  object
 49  CD_ESTADO_CIVIL                29262 non-null  int64
 50  DS_ESTADO_CIVIL                29262 non-null  object
 51  CD_COR_RACA                    29262 non-null  int64
 52  DS_COR_RACA                    29262 non-null  object
 53  CD_OCUPACAO                    29262 non-null  int64
 54  DS_OCUPACAO                    29262 non-null  object
 55  VR_DESPESA_MAX_CAMPANHA        29262 non-null  float64
 56  CD_SIT_TOT_TURNO               29262 non-null  int64
 57  DS_SIT_TOT_TURNO               29262 non-null  object
 58  ST_REELEICAO                   29262 non-null  object
 59  ST_DECLARAR_BENS               29262 non-null  object
 60  NR_PROTOCOLO_CANDIDATURA       29262 non-null  int64
 61  NR_PROCESSO                    29262 non-null  object
 62  CD_SITUACAO_CANDIDATO_PLEITO   29262 non-null  int64
 63  DS_SITUACAO_CANDIDATO_PLEITO   29262 non-null  object
 64  CD_SITUACAO_CANDIDATO_URNA     29262 non-null  int64
 65  DS_SITUACAO_CANDIDATO_URNA     29262 non-null  object
 66  ST_CANDIDATO_INSERIDO_URNA     29262 non-null  object
 67  NM_TIPO_DESTINACAO_VOTOS       29262 non-null  object
 68  CD_SITUACAO_CANDIDATO_TOT      29262 non-null  int64
 69  DS_SITUACAO_CANDIDATO_TOT      29262 non-null  object
 70  ST_PREST_CONTAS                29262 non-null  object
dtypes: float64(2), int64(24), object(45)
memory usage: 15.9+ MB

In [18]:

arquivoCSV = '..\ProjetoPythonKB\Dados\consulta_cand_2022_BRASIL.csv'

dfCandidatos = pd.read_csv(arquivoCSV
                   , sep=';'
                   ,encoding='latin-1'
, usecols=[2,4,5,7,8,10,14,15,18,27,28,48,50])

In [17]:
# ESTRUTURA DE UM DATAFRAME #

dfCandidatos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29262 entries, 0 to 29261
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ANO_ELEICAO        29262 non-null  int64
 1   NM_TIPO_ELEICAO    29262 non-null  object
 2   NR_TURNO           29262 non-null  int64
 3   DS_ELEICAO         29262 non-null  object
 4   DT_ELEICAO         29262 non-null  object
 5   SG_UF              29262 non-null  object
 6   DS_CARGO           29262 non-null  object
 7   SQ_CANDIDATO       29262 non-null  int64
 8   NM_URNA_CANDIDATO  29262 non-null  object
 9   NR_PARTIDO         29262 non-null  int64
 10  SG_PARTIDO         29262 non-null  object
 11  DS_GRAU_INSTRUCAO  29262 non-null  object
 12  DS_ESTADO_CIVIL    29262 non-null  object
dtypes: int64(4), object(9)
memory usage: 2.9+ MB

In [22]:


arquivoCSV = '..\ProjetoPythonKB\Dados\consulta_cand_2022_BRASIL.csv'

dfCandidatos = pd.read_csv(arquivoCSV
                   , sep=';'
                   ,encoding='latin-1'
, usecols=[2,4,5,7,8,10,14,15,18,27,28,48,50]
                          ,names=['NumAnoEleicao'
,'NomTpoEleicao'
,'NumTurno'
,'DescEleicao'
,'DtEleicao'
,'SigUF'
,'DescCargo'
,'SeqCandidato'
,'NomCandidatoUrna'
,'NumPartido'
,'SigParido'
,'DescInstrucao'
,'DescEstadoCivil']
                          ,header=0)

In [29]:


arquivoCSV = '..\ProjetoPythonKB\Dados\consulta_cand_2022_BRASIL.csv'

dfCandidatos = pd.read_csv(arquivoCSV
                   , sep=';'
                   ,encoding='latin-1'
, usecols=[2,4,5,7,8,10,14,15,18,27,28,48,50]
                          ,names=['NumAnoEleicao'
,'NomTpoEleicao'
,'NumTurno'
,'DescEleicao'
,'DtEleicao'
,'SigUF'
,'DescCargo'
,'SeqCandidato'
,'NomCandidatoUrna'
,'NumPartido'
,'SigParido'
,'DescInstrucao'
,'DescEstadoCivil']
                           ,dtype={'NumAnoEleicao':'long'
,'NomTpoEleicao':'str'
,'NumTurno':'long'
,'DescEleicao':'str'
,'DtEleicao':'str'
,'SigUF':'str'
,'DescCargo':'str'
,'SeqCandidato':'str'
,'NomCandidatoUrna':'str'
,'NumPartido':'long'
,'SigParido':'str'
,'DescInstrucao':'str'
,'DescEstadoCivil':'str'}
                           ,parse_dates=[4]
                          ,header=0)

In [31]:
# SELECIONANDO TOP N REGISTROS DE UM DATAFRAME #

dfCandidatos

,NumAnoEleicao,NomTpoEleicao,NumTurno,DescEleicao,DtEleicao,SigUF,DescCargo,SeqCandidato,NomCandidatoUrna,NumPartido,SigParido,DescInstrucao,DescEstadoCivil
0,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,PR,DEPUTADO ESTADUAL,160002000000,PROFESSOR MARCELINO ANTUNES,14,PTB,SUPERIOR COMPLETO,DIVORCIADO(A)
1,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,MS,DEPUTADO FEDERAL,120002000000,LOURDES MONTEIRO,15,MDB,SUPERIOR COMPLETO,CASADO(A)
2,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,GO,DEPUTADO FEDERAL,90001675157,CYNTHIA OLIVEIRA,18,REDE,SUPERIOR COMPLETO,CASADO(A)
3,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,RN,DEPUTADO FEDERAL,200002000000,GIDEON ISMAIAS,23,CIDADANIA,ENSINO MÉDIO COMPLETO,CASADO(A)
4,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,SP,DEPUTADO FEDERAL,250002000000,CLENILZA PANATO,29,PCO,SUPERIOR COMPLETO,SOLTEIRO(A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29257,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,ES,DEPUTADO FEDERAL,80001719429,HELDER SALOMÃO,13,PT,SUPERIOR COMPLETO,CASADO(A)
29258,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,MG,DEPUTADO FEDERAL,130002000000,ROSSY DA AUTO ESCOLA,14,PTB,SUPERIOR COMPLETO,DIVORCIADO(A)
29259,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,TO,DEPUTADO ESTADUAL,270002000000,LUANA RIBEIRO,65,PC do B,SUPERIOR COMPLETO,DIVORCIADO(A)
29260,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,MA,DEPUTADO FEDERAL,100002000000,MAGRADO,44,UNIÃO,SUPERIOR INCOMPLETO,DIVORCIADO(A)
29261,2022,ELEIÇÃO ORDINÁRIA,1,Eleições Gerais Estaduais 2022,2022-02-10,MA,DEPUTADO ESTADUAL,100002000000,DOMINGOS FILHO,16,PSTU,SUPERIOR COMPLETO,CASADO(A)

In [12]:
# AGRUPANDO VALORES DENTRO DE UM DATAFRAME #

dfADB = dfADB.groupby(['AnoMes','CodDocVenda'], as_index=False).agg(VlrPesoLiqItem=('VlrPesoLiqItem','sum')
                                                   ,VlrLiqItemOrdem=('VlrLiqItemOrdem','sum'))


dfADB

        AnoMes CodDocVenda  VlrPesoLiqItem  VlrLiqItemOrdem
0       201601  4000053944          7714.0           138.32
1       201601  4000053984         13104.0          2933.28
2       201601  4000054402          2600.0           896.27
3       201601  4000054623         13538.0          1534.76
4       201601  4000054704          9048.0          1369.23
...        ...         ...             ...              ...
663184  202212  4002554296         27630.0          8306.68
663185  202212  4002554497         28300.0          9940.94
663186  202212  4002554696         28060.0          9856.64
663187  202212  4002554895          3250.0           630.00
663188  202212  4002555095          3497.0          1455.29

[663189 rows x 4 columns]

In [14]:
# ORDENANDO UM DATAFRAME #

dfADB.sort_values(by='AnoMes', inplace=True, ascending=False)

dfADB

        AnoMes CodDocVenda  VlrPesoLiqItem  VlrLiqItemOrdem
663188  202212  4002555095          3497.0          1455.29
663176  202212  4002553597         13052.0          1385.52
663175  202212  4002553596         28570.0          8589.29
661271  202212  4002524862         15912.0          2019.60
663186  202212  4002554696         28060.0          9856.64
...        ...         ...             ...              ...
6       201601  4000054814          6240.0           648.00
5       201601  4000054743         29450.0          3159.69
4       201601  4000054704          9048.0          1369.23
3       201601  4000054623         13538.0          1534.76
0       201601  4000053944          7714.0           138.32

[663189 rows x 4 columns]

In [ ]:
# REMOVENDO DUPLICIDADES DE UM DATAFRAME #

arquivo_Alex_NE = 'C:\\Temp\\Frete_Rodrigo\\INDICADORES_FRETE_2021_COMPLETO_zerados.xlsx'

dfANE = pd.read_excel(arquivo_Alex_NE
                      , sheet_name='Não encontrados'
                      , usecols=[0]
                      , names=['CodDocVenda']
                      , dtype={'CodDocVenda':'str'})

dfANE = dfANE.drop_duplicates(
  subset = ['CodDocVenda'],
  keep = 'last').reset_index(drop = True)

dfANE.info()

In [17]:
# RELACIONANDO DOIS DATAFRAMES #

resultAmostra = pd.merge(left=dfANE
                              , right=dfADB
                              , left_on='CodDocVenda'
                              , right_on='CodDocVenda'                                                                                              
                                    )

In [24]:
# TRATANDO VALORES NULOS #

resultAmostra.fillna('Nulo',inplace=True)

In [23]:
# APLICANDO O COMANDO CASE DO SQL SERVER #

resultAmostra.loc[resultAmostra['AnoMes'] >= '202201', 'Comparacao'] = 'REGISTRO NOVO'
resultAmostra.loc[resultAmostra['AnoMes'] < '202201', 'Comparacao'] = 'REGISTRO VELHO'

resultAmostra.groupby('Comparacao').agg(Qtd=('Comparacao','count'))

                  Qtd
Comparacao
REGISTRO NOVO      99
REGISTRO VELHO  60501

In [26]:
# COMPLETANDO COM ZERO A ESQUERDA #

resultAmostra['CodDocVenda'] = pd.Series(resultAmostra['CodDocVenda']).astype(str).str.zfill(18) 

resultAmostra

,CodDocVenda,AnoMes,VlrPesoLiqItem,VlrLiqItemOrdem,Comparacao
0,000000004000240586,202111,3666.0,611.94,REGISTRO VELHO
1,000000004000240586,201609,858.0,143.22,REGISTRO VELHO
2,000000004000261953,202111,2908.0,485.40,REGISTRO VELHO
3,000000004000261953,201609,1495.0,249.55,REGISTRO VELHO
4,000000004000650069,202112,30500.0,3876.68,REGISTRO VELHO
...,...,...,...,...,...
60595,000000004002160602,202112,15022.0,663.04,REGISTRO VELHO
60596,000000004002160996,202112,21690.0,812.29,REGISTRO VELHO
60597,000000004002161195,202112,11306.0,1213.66,REGISTRO VELHO
60598,000000004002161796,202112,14469.0,3172.05,REGISTRO VELHO
60599,000000004002162198,202112,12980.0,2779.85,REGISTRO VELHO

In [ ]:
# RENOMEANDO COLUNAS - REMANE #

result_ZERADO.rename(columns = {'VlrLiqItemOrdem_x':'VlrLiqItemOrdem'
                               ,'VlrPesoLiqItem_x':'VlrPesoLiqItem'}, inplace = True)

In [ ]:
# COMANDO LEFT E RIGHT DO SQL SERVER #

result02['codrelatorio'] = result02['Chave'].str[:10]
result02['codnumrelatorio'] = result02['Chave'].str[10:]