In [1]:
import csv
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [2]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [23]:
arquivoSSIS = 'C:\\Temp\\fat_mov_contabil_resultado_pt3_2022005.csv'

dfFatMovResultado_SSIS = pd.read_csv(arquivoSSIS, sep=';',usecols=[0,1],header=None
                              ,names=['Chave','VlrMontante']
                                 ,dtype={'Chave':'str','VlrMontante':'float64'})

In [25]:
dfFatMovResultado_SSIS

                                                   Chave  VlrMontante
0         0L_-1_-1_1_-1_100_-12_560_-2_2022005_28_-2_422      3048.10
1         0L_-1_-1_1_-1_100_-12_580_-2_2022005_28_-2_422      1440.29
2        0L_-1_-1_1_-1_101_-12_1179_-2_2022005_28_-2_423      5059.37
3        0L_-1_-1_1_-1_102_-12_1179_-2_2022005_28_-2_496     53529.75
4         0L_-1_-1_1_-1_102_-12_560_-2_2022005_28_-2_496       314.45
...                                                  ...          ...
1452040  2L_4_4_1_-1_65_4138906_522_-2_2022005_28_-2_592    -18180.00
1452041  2L_4_4_1_-1_69_4537783_522_-2_2022005_28_-2_594     -1120.00
1452042  2L_4_4_1_-1_69_4537783_526_-2_2022005_28_-2_594        44.80
1452043  2L_4_4_1_-1_69_4624394_522_-2_2022005_28_-2_594      -140.00
1452044   2L_4_4_1_-1_7_4405785_522_-2_2022005_28_-2_478     -2436.00

[1452045 rows x 2 columns]

In [26]:
arquivoDATABRICKS = 'C:\\Temp\\exportfat_mov_contabil_resultado_pt3_2022005.csv'

dfFatMovResultado_DATABRICKS = pd.read_csv(arquivoDATABRICKS, sep=',',usecols=[0,1],header=None,skiprows=1
                              ,names=['Chave','VlrMontante']
                                 ,dtype={'Chave':'str','VlrMontante':'float64'})

In [27]:
dfFatMovResultado_DATABRICKS

                                                    Chave  VlrMontante
0        0L_2_2_1_-1_105_3924699_532_-2_2022005_28_-2_575         4.26
1        2L_2_2_1_-1_108_4632541_495_-2_2022005_28_-2_597    -15668.19
2        2L_2_2_1_-1_124_3359959_495_-2_2022005_28_-2_512      -874.88
3         1L_2_2_1_-1_99_4685612_495_-2_2022005_28_-2_421       -40.64
4        1L_2_2_1_-1_123_4160142_532_-2_2022005_28_-2_511         1.74
...                                                   ...          ...
1451758  0L_2_2_1_-1_105_4201827_532_-2_2022005_28_-2_575         3.31
1451759   1L_2_2_1_-1_93_4652968_495_-2_2022005_28_-2_490     -8601.93
1451760  2L_2_2_1_-1_109_4712671_532_-2_2022005_28_-2_598        10.06
1451761  1L_2_2_1_-1_124_4709176_532_-2_2022005_28_-2_512        11.88
1451762   2L_2_2_1_-1_90_4071485_532_-2_2022005_28_-2_487         4.55

[1451763 rows x 2 columns]

In [29]:
resultFatMovResultado = pd.merge(left=dfFatMovResultado_SSIS
                              , right=dfFatMovResultado_DATABRICKS
                              , left_on='Chave'
                              , right_on='Chave'
                              ,how='left'
                                    )

resultFatMovResultado.rename(columns={'VlrMontante_x':'VlrMontante_SSIS', 'VlrMontante_y':'VlrMontante_DATABRICKS'},inplace=True)

resultFatMovResultado.loc[resultFatMovResultado['VlrMontante_SSIS'] == resultFatMovResultado['VlrMontante_DATABRICKS'], 'Comparacao'] = 'Igual'
resultFatMovResultado.loc[resultFatMovResultado['VlrMontante_SSIS'] != resultFatMovResultado['VlrMontante_DATABRICKS'], 'Comparacao'] = 'Diferente'

In [30]:
resultFatMovResultado[resultFatMovResultado['Comparacao']=='Diferente']

,Chave,VlrMontante_SSIS,VlrMontante_DATABRICKS,Comparacao
0,0L_-1_-1_1_-1_100_-12_560_-2_2022005_28_-2_422,3048.10,NaN,Diferente
1,0L_-1_-1_1_-1_100_-12_580_-2_2022005_28_-2_422,1440.29,NaN,Diferente
2,0L_-1_-1_1_-1_101_-12_1179_-2_2022005_28_-2_423,5059.37,NaN,Diferente
3,0L_-1_-1_1_-1_102_-12_1179_-2_2022005_28_-2_496,53529.75,NaN,Diferente
4,0L_-1_-1_1_-1_102_-12_560_-2_2022005_28_-2_496,314.45,NaN,Diferente
...,...,...,...,...
1394465,2L_1_2_1_-1_9_4607474_532_-2_2022005_28_-2_480,40.94,NaN,Diferente
1394466,2L_1_2_1_-1_9_4629957_495_-2_2022005_28_-2_480,-2506.32,NaN,Diferente
1394467,2L_1_2_1_-1_9_4649931_495_-2_2022005_28_-2_480,-1266.72,NaN,Diferente
1394468,2L_1_2_1_-1_9_4664118_532_-2_2022005_28_-2_480,143.26,NaN,Diferente
1394469,2L_1_2_1_-1_9_4665093_532_-2_2022005_28_-2_480,245.57,NaN,Diferente