In [63]:
import csv
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [64]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [65]:
arquivoSSIS = 'C:\\Temp\\fat_mov_contabil_resultado_2022004.csv'

dfFatMovResultado_SSIS = pd.read_csv(arquivoSSIS, sep=';',usecols=[0,1],header=None
                              ,names=['Chave','VlrMontante']
                                 ,dtype={'Chave':'str','VlrMontante':'float64'})

In [66]:
dfFatMovResultado_SSIS

                                              Chave  VlrMontante
0      0L_-2_-2_1_1_-2_-2_1087_-1_2022005_28_-1_486      1246.91
1      0L_-2_-2_1_1_-2_-2_1094_-1_2022005_28_-1_405         2.06
2      0L_-2_-2_1_1_-2_-2_1094_-1_2022005_28_-1_496         0.42
3      0L_-2_-2_1_1_-2_-2_1094_-1_2022005_28_-1_568         2.19
4      0L_-2_-2_1_1_-2_-2_1094_-1_2022005_28_-1_571         0.29
...                                             ...          ...
30083  0L_-2_-2_1_95_-2_-2_627_-1_2022005_28_-1_400        35.28
30084  0L_-2_-2_1_95_-2_-2_632_-1_2022005_28_-1_400      1545.52
30085  0L_-2_-2_1_95_-2_-2_670_-1_2022005_28_-1_400         0.00
30086  0L_-2_-2_1_99_-2_-2_608_-1_2022005_28_-1_400       619.38
30087  0L_-2_-2_1_99_-2_-2_623_-1_2022005_28_-1_400       204.31

[30088 rows x 2 columns]

In [67]:
arquivoDATABRICKS = 'C:\\Temp\\exportFat_mov_contabil_resultado_2022004.csv'

dfFatMovResultado_DATABRICKS = pd.read_csv(arquivoDATABRICKS, sep=',',usecols=[0,1],header=None,skiprows=1
                              ,names=['Chave','VlrMontante']
                                 ,dtype={'Chave':'str','VlrMontante':'float64'})

In [68]:
dfFatMovResultado_DATABRICKS

                                               Chave  VlrMontante
0       0L_-2_-2_1_13_-2_-2_650_-1_2022005_28_-1_511     52873.33
1       0L_-2_-2_1_34_-2_-2_713_-1_2022005_28_-1_602    -52580.59
2       0L_-2_-2_1_81_-2_-2_713_-1_2022005_28_-1_596     -3371.43
3       0L_-2_-2_1_81_-2_-2_713_-1_2022005_28_-1_575         0.00
4        0L_-2_-2_1_4_-2_-2_758_-1_2022005_28_-1_510    197571.43
...                                              ...          ...
29848   0L_-2_-2_1_38_-2_-2_629_-1_2022005_28_-1_496       714.69
29849   0L_-2_-2_1_52_-2_-2_656_-1_2022005_28_-1_496        20.87
29850  0L_-2_-2_1_126_-2_-2_663_-1_2022005_28_-1_577      1228.88
29851   0L_-2_-2_1_17_-2_-2_703_-1_2022005_28_-1_488       556.00
29852   0L_-2_-2_1_38_-2_-2_703_-1_2022005_28_-1_572      2808.60

[29853 rows x 2 columns]

In [69]:
resultFatMovResultado = pd.merge(left=dfFatMovResultado_SSIS
                              , right=dfFatMovResultado_DATABRICKS
                              , left_on='Chave'
                              , right_on='Chave'
                              ,how='left'
                                    )

resultFatMovResultado.rename(columns={'VlrMontante_x':'VlrMontante_SSIS', 'VlrMontante_y':'VlrMontante_DATABRICKS'},inplace=True)

resultFatMovResultado.loc[resultFatMovResultado['VlrMontante_SSIS'] == resultFatMovResultado['VlrMontante_DATABRICKS'], 'Comparacao'] = 'Igual'
resultFatMovResultado.loc[resultFatMovResultado['VlrMontante_SSIS'] != resultFatMovResultado['VlrMontante_DATABRICKS'], 'Comparacao'] = 'Diferente'

In [70]:
resultFatMovResultado[resultFatMovResultado['Comparacao']=='Diferente']

,Chave,VlrMontante_SSIS,VlrMontante_DATABRICKS,Comparacao
81,0L_-2_-2_1_1_-2_-2_646_-1_2022005_28_-1_477,28566.27,28723.97,Diferente
82,0L_-2_-2_1_1_-2_-2_646_-1_2022005_28_-1_486,30985.17,31332.24,Diferente
83,0L_-2_-2_1_1_-2_-2_646_-1_2022005_28_-1_492,51646.89,52033.62,Diferente
167,0L_-2_-2_1_1_-2_-2_769_-1_2022005_28_-1_486,-529866.59,-549895.57,Diferente
168,0L_-2_-2_1_1_-2_-2_769_-1_2022005_28_-1_491,-902.83,-212.85,Diferente
...,...,...,...,...
30001,0L_-2_-2_1_81_-2_-2_738_-1_2022005_28_-1_585,211.99,NaN,Diferente
30002,0L_-2_-2_1_81_-2_-2_738_-1_2022005_28_-1_597,247.35,NaN,Diferente
30003,0L_-2_-2_1_81_-2_-2_738_-1_2022005_28_-1_599,33.32,NaN,Diferente
30073,0L_-2_-2_1_90_-2_-2_773_-1_2022005_28_-1_400,697941.66,488576.21,Diferente
30078,0L_-2_-2_1_91_-2_-2_773_-1_2022005_28_-1_400,113450.75,88072.58,Diferente

In [71]:
resultPorCliente.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30088 entries, 0 to 30087
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Chave                   30088 non-null  object
 1   VlrMontante_SSIS        30088 non-null  float64
 2   VlrMontante_DATABRICKS  26222 non-null  float64
 3   Comparacao              30088 non-null  object
dtypes: float64(2), object(2)
memory usage: 2.2+ MB

In [72]:
result = resultPorCliente.groupby(['Comparacao']).agg({'VlrMontante_SSIS':'sum', 'VlrMontante_DATABRICKS':'sum'})