In [1]:
import pandas as pd

In [7]:
arquivo_base_hml_sergio = 'C:\\Temp\\vol_frota_sergio\\ZTSD088_06_22_OtimLog sem formulas.xlsx'

base_sergio = pd.read_excel(arquivo_base_hml_sergio
                            , sheet_name='Filtrado'
                            , usecols=[0,25]
                            , names=['Chave','CodDocVenda']
                            , dtype={'Chave':'str','CodDocVenda':'str'})

base_sergio['CodDocVenda'] = pd.Series(base_sergio['CodDocVenda']).astype(str).str.zfill(10)

In [9]:
base_sergio

                Chave CodDocVenda
0        100877606720  0029731929
1        100917204320  0031172806
2        100937930710  0031965046
3        100937930720  0031885328
4        100937930730  0031885290
...               ...         ...
150021  1009534320250  0032572048
150022  1009534320260  0032572047
150023  1009534516100  0032548488
150024  1009534535100  0032553983
150025  1009534792110  0032540129

[150026 rows x 2 columns]

In [8]:
base_sergio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150026 entries, 0 to 150025
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Chave        150026 non-null  object
 1   CodDocVenda  150026 non-null  object
dtypes: object(2)
memory usage: 2.3+ MB

In [25]:
#arquivo_base_notebook = 'C:\\Temp\\vol_frota_sergio\\base_notebook_20221206.csv'
arquivo_base_notebook = 'C:\\Temp\\vol_frota_sergio\\base_notebook_20221207.csv'

base_notebook = pd.read_csv(arquivo_base_notebook
                            , usecols=[0,1]
                            , dtype={'codrelatorio':'str'
                                     ,'codnumrelatorio':'int'}
                           )

#base_notebook['codnumrelatorio'] = base_notebook['codnumrelatorio'].apply(str)

base_notebook['Chave_notebook'] = base_notebook['codrelatorio'].apply(str) + base_notebook['codnumrelatorio'].apply(str)

base_notebook.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149337 entries, 0 to 149336
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   codrelatorio     149337 non-null  object
 1   codnumrelatorio  149337 non-null  int32
 2   Chave_notebook   149337 non-null  object
dtypes: int32(1), object(2)
memory usage: 2.8+ MB

In [49]:
faturas_estornadas = 'C:\\Temp\\vol_frota_sergio\\faturas_estornadas.csv'

base_faturas_estornadas = pd.read_csv(faturas_estornadas
                            , usecols=[0,1,2,3]
                            , dtype={'CodDocVenda':'str',
                                     'CodItemDocVenda':'str',
                                     'CodRelatorio':'str', 
                                     'CodItem':'str',
                                    'IndEstorno':'str'}
                            , names=['CodDocVenda','CodItemDocVenda','CodRelatorio','CodItem','IndEstorno']
                            , header=None
                            , sep=';'
                           )

base_faturas_estornadas['Chave_estorno'] = base_faturas_estornadas['CodRelatorio'] + base_faturas_estornadas['CodItem']
base_faturas_estornadas['Comentario'] ='Fatura Estornada'
base_faturas_estornadas

,CodDocVenda,CodItemDocVenda,CodRelatorio,CodItem,Chave_estorno,Comentario
0,0000379606,10,1000119643,10,100011964310,Fatura Estornada
1,0000379622,10,1000119650,10,100011965010,Fatura Estornada
2,0000654121,30,1000207491,10,100020749110,Fatura Estornada
3,0000699942,10,1000226254,10,100022625410,Fatura Estornada
4,0004704792,40,1010015375,10,101001537510,Fatura Estornada
...,...,...,...,...,...,...
81769,6016709230,10,1010204904,10,101020490410,Fatura Estornada
81770,6016709230,10,1010207245,10,101020724510,Fatura Estornada
81771,6016711521,10,1010206500,10,101020650010,Fatura Estornada
81772,6016711521,10,1010206564,10,101020656410,Fatura Estornada
81773,6016714117,10,1010208241,10,101020824110,Fatura Estornada

In [51]:
ordem_venda_recusa = 'C:\\Temp\\vol_frota_sergio\\ordem_venda_com_recusa.csv'

base_ordem_venda_recusa = pd.read_csv(ordem_venda_recusa
                            , usecols=[0,1,2,3,4]
                            , dtype={'CodRelatorio':'str',
                                     'CodItem':'str',
                                     'CodDocVenda':'str',
                                     'NumItemDocVenda':'str',
                                     'NomMotivoRecusa':'str'}
                            , names=['CodRelatorio','CodItem', 'CodDocVenda','NumItemDocVenda','NomMotivoRecusa']
                            , header=None
                            , sep=';'
                           )

base_ordem_venda_recusa['Chave_recusa'] = base_ordem_venda_recusa['CodRelatorio'] + base_ordem_venda_recusa['CodItem']

base_ordem_venda_recusa['Comentario']='Ordem Venda Recusada'

base_ordem_venda_recusa

,CodRelatorio,CodItem,CodDocVenda,NumItemDocVenda,NomMotivoRecusa,Chave_recusa,Comentario
0,1007457589,20,0024910997,10,APP: Cliente jÃ¡ abastecido,100745758920,Ordem Venda Recusada
1,1007457589,50,0024911003,10,APP: Cliente jÃ¡ abastecido,100745758950,Ordem Venda Recusada
2,1007457621,10,0024928871,10,Ordem de venda obsoleta por tempo,100745762110,Ordem Venda Recusada
3,1007457718,10,0024936052,10,Ordem de venda obsoleta por tempo,100745771810,Ordem Venda Recusada
4,1007457913,180,0024886186,10,APP: Jornada da equipe encerrada,1007457913180,Ordem Venda Recusada
...,...,...,...,...,...,...,...
601344,1008872414,10,0030102459,40,Cancelamento de Item,100887241410,Ordem Venda Recusada
601345,1008872414,50,0030102459,80,Cancelamento de Item,100887241450,Ordem Venda Recusada
601346,1008872414,60,0030102459,90,Cancelamento de Item,100887241460,Ordem Venda Recusada
601347,1008872418,80,0029852711,10,APP: Cliente jÃ¡ abastecido,100887241880,Ordem Venda Recusada
601348,1008872445,30,0029845534,10,Recusada pelo retorno do SIVA,100887244530,Ordem Venda Recusada

In [88]:
result01 = pd.merge(left=base_sergio
                      , right=base_notebook
                      , left_on='Chave'
                      , right_on='Chave_notebook'                                                                                              
                      ,how='left'
                    )
                         
result01.loc[result['Chave'] == result01['Chave_notebook'], 'Comparacao'] = 'Igual'
result01.loc[result['Chave'] != result01['Chave_notebook'], 'Comparacao'] = 'Diferente'


result01.groupby('Comparacao', as_index=False).agg(Qtd=('Comparacao','count'))

  Comparacao     Qtd
0  Diferente     851
1      Igual  149175

In [147]:
## 778 - FATURAS ESTORNADAS

result02 = pd.merge(
                        (pd.merge(    left=base_sergio
                                      , right=base_notebook
                                      , left_on='Chave'
                                      , right_on='Chave_notebook'                                                                                              
                                      ,how='left'
                                    )
                                    )   , right=base_faturas_estornadas
                                        , left_on='Chave'
                                        , right_on='Chave_estorno'                                                                                              
                                        ,how='left'
                        )

result02.loc[result02['Chave'] == result02['Chave_notebook'], 'Comparacao'] = 'Igual'
result02.loc[result02['Chave'] != result02['Chave_notebook'], 'Comparacao'] = 'Diferente'

result02['codrelatorio'] = result02['Chave'].str[:10]
result02['codnumrelatorio'] = result02['Chave'].str[10:]

result02['Chave_estorno'].fillna('-1',inplace=True)

#result02[(result02['Comparacao']=='Diferente')]
primeiro_corte = result02[(result02['Comparacao']=='Diferente') 
                                      & (result02['Chave_estorno']!='-1')][['Chave'
                                                                            ,'codrelatorio',
                                                                           'codnumrelatorio',
                                                                           'CodDocVenda_x']].to_csv('C:\\Temp\\vol_frota_sergio\\base_faturas_estornadas_778.csv'
                                                                            , sep=';'
                                                                            , index=False)

In [148]:
result02

,Chave,CodDocVenda_x,codrelatorio,codnumrelatorio,Chave_notebook,CodDocVenda_y,CodItemDocVenda,CodRelatorio,CodItem,Chave_estorno,Comentario,Comparacao
0,100877606720,0029731929,1008776067,20,NaN,NaN,NaN,NaN,NaN,-1,NaN,Diferente
1,100917204320,0031172806,1009172043,20,100917204320,NaN,NaN,NaN,NaN,-1,NaN,Igual
2,100937930710,0031965046,1009379307,10,100937930710,NaN,NaN,NaN,NaN,-1,NaN,Igual
3,100937930720,0031885328,1009379307,20,100937930720,NaN,NaN,NaN,NaN,-1,NaN,Igual
4,100937930730,0031885290,1009379307,30,100937930730,NaN,NaN,NaN,NaN,-1,NaN,Igual
...,...,...,...,...,...,...,...,...,...,...,...,...
150021,1009534320250,0032572048,1009534320,250,1009534320250,NaN,NaN,NaN,NaN,-1,NaN,Igual
150022,1009534320260,0032572047,1009534320,260,1009534320260,NaN,NaN,NaN,NaN,-1,NaN,Igual
150023,1009534516100,0032548488,1009534516,100,1009534516100,NaN,NaN,NaN,NaN,-1,NaN,Igual
150024,1009534535100,0032553983,1009534535,100,1009534535100,NaN,NaN,NaN,NaN,-1,NaN,Igual
150025,1009534792110,0032540129,1009534792,110,1009534792110,NaN,NaN,NaN,NaN,-1,NaN,Igual

In [73]:
result03 = pd.merge(    left=primeiro_corte
                                      , right=base_ordem_venda_recusa
                        , left_on='Chave'
                        , right_on='Chave_recusa' 
                        ,how='left'
                                    )


result03.loc[result03['Chave'] == result03['Chave_recusa'], 'Comparacao'] = 'Igual'
result03.loc[result03['Chave'] != result03['Chave_recusa'], 'Comparacao'] = 'Diferente'

result03['Chave_recusa'].fillna('-1',inplace=True)

,Chave,CodDocVenda_x,CodRelatorio,CodItem,CodDocVenda,NumItemDocVenda,NomMotivoRecusa,Chave_recusa,Comentario,Comparacao
0,100877606720,0029731929,1008776067,20,0029731929,20,Ordem de venda obsoleta por tempo,100877606720,Ordem Venda Recusada,Igual
1,100940740210,0032085995,1009407402,10,0032085995,10,Ordem de venda obsoleta por tempo,100940740210,Ordem Venda Recusada,Igual
2,100940740220,0032085995,1009407402,20,0032085995,20,Ordem de venda obsoleta por tempo,100940740220,Ordem Venda Recusada,Igual
3,100941220010,0032038302,1009412200,10,0032038302,10,Item da ordem em desacordo com o pedido,100941220010,Ordem Venda Recusada,Igual
4,100941220020,0031954637,1009412200,20,0031954637,10,Item da ordem em desacordo com o pedido,100941220020,Ordem Venda Recusada,Igual
...,...,...,...,...,...,...,...,...,...,...
68,1009498438250,0032117321,1009498438,250,0032117321,10,Erro de preenchimento,1009498438250,Ordem Venda Recusada,Igual
69,1009498438260,0032364570,1009498438,260,0032364570,10,Erro de preenchimento,1009498438260,Ordem Venda Recusada,Igual
70,1009498438270,0032247883,1009498438,270,0032247883,10,Ordem de venda obsoleta por tempo,1009498438270,Ordem Venda Recusada,Igual
71,1009509289150,0032522955,1009509289,150,0032522955,10,Ordem de venda obsoleta por tempo,1009509289150,Ordem Venda Recusada,Igual
72,1009529837210,0032339702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Diferente

In [137]:
## 66 ORDENS COM MOTIVO RECUSA PREENCHIDO

segundo_corte = result03[(result03['Comparacao']=='Igual') 
         & (result03['Chave_recusa']!='-1')][['Chave'
                                             ,'CodDocVenda_x'
                                                ,'NumItemDocVenda'
                                             ,'CodRelatorio'
                                                ,'CodItem'
                                                ,'Comentario'
                                                ,'NomMotivoRecusa']]


segundo_corte.to_csv('C:\\Temp\\vol_frota_sergio\\base_ov_com_motivo_recusa_66.csv'
                                                                            , sep=';'
                                                                            , index=False)

In [141]:
terceiro_corte = result03[(result03['Comparacao']=='Diferente') 
         & (result03['Chave_recusa']!='-1')][['Chave'
                                             ,'CodDocVenda_x'
                                                ,'NumItemDocVenda'
                                             ,'CodRelatorio'
                                                ,'CodItem'
                                                ,'Comentario'
                                                ,'NomMotivoRecusa']]

terceiro_corte.to_csv('C:\\Temp\\vol_frota_sergio\\base_ov_com_erro_integracao_7.csv'
                                                                            , sep=';'
                                                                            , index=False)