In [14]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
import numpy as np
import json

In [15]:
pd.options.display.max_rows = 999
pd.options.display.max_columns=999
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)

In [56]:
caminho = 'C:\\Temp\\CRTLDespesaFrota.20220614.060944'

name = [
'ZCATPPROC'
,'VENDOR'
,'OG_FAHRZ'
,'ZCAESTAB'
,'ZCANMABAS'
,'MATERIAL'
,'ZCACLCONT'
,'ZCADTABAS'
,'ZCAHRABAS'
,'ZCADTVENC'
,'ZCADOCMAT'
,'ZCADOCBPM'
,'OI_EBELN'
,'CH_AEDTM'
,'APO_CHTIME'
,'ZCAMENLOG'
,'ZCASTPROC'
,'AUSER'
,'ZCHAVACE'
,'CH_NFENUM'
,'ID_SERIES'
,'QUANTITY'
,'UNIT'
,'CURRENCY'
,'ZKFVLRUN'
,'ZKFVLRTOT'
]

dtype = {'ZCATPPROC':'str'
,'VENDOR':'str'
,'OG_FAHRZ':'str'
,'ZCAESTAB':'str'
,'ZCANMABAS':'str'
,'MATERIAL':'str'
,'ZCACLCONT':'str'
,'ZCADTABAS':'str'
,'ZCAHRABAS':'str'
,'ZCADTVENC':'str'
,'ZCADOCMAT':'str'
,'ZCADOCBPM':'str'
,'OI_EBELN':'str'
,'CH_AEDTM':'str'
,'APO_CHTIME':'str'
,'ZCAMENLOG':'str'
,'ZCASTPROC':'str'
,'AUSER':'str'
,'ZCHAVACE':'str'
,'CH_NFENUM':'str'
,'ID_SERIES':'str'
,'QUANTITY':'str'
,'UNIT':'str'
,'CURRENCY':'str'
,'ZKFVLRUN':'str'
,'ZKFVLRTOT':'str'
}

df = pd.read_csv(caminho, sep=';',header=None, names=name, dtype= dtype, low_memory=False)

In [19]:
df.head(5)

,ZCATPPROC,VENDOR,OG_FAHRZ,ZCAESTAB,ZCANMABAS,MATERIAL,ZCACLCONT,ZCADTABAS,ZCAHRABAS,ZCADTVENC,ZCADOCMAT,ZCADOCBPM,OI_EBELN,CH_AEDTM,APO_CHTIME,ZCAMENLOG,ZCASTPROC,AUSER,ZCHAVACE,CH_NFENUM,ID_SERIES,QUANTITY,UNIT,CURRENCY,ZKFVLRUN,ZKFVLRTOT
0,CTF,NaN,OQI2846,1031,0105229660,000000002000002795,OQI2846-01,20150721,000000,20150811,NaN,00000000000000068988,4500080174,00000000,000000,CNPJ 75.500.015/5 - NÃO CADASTRADO PARA NENHUM F,PROCESSADO,NaN,NaN,NaN,NaN,253.170,L,BR4,2.897,822.790
1,CTF,NaN,OQI2846,1031,0105229660,000000002000002795,OQI2846-01,20150727,000000,20150811,NaN,00000000000000068988,4500080174,00000000,000000,CNPJ 14.719.755/0001-55 NÃO CADASTRADO PARA NE...,PROCESSADO,NaN,NaN,NaN,NaN,140.680,L,BR4,2.897,563.890
2,CTF,NaN,PWR0755,1031,0107668119,000000002000002795,PWR0755-01,20151031,000000,20151110,NaN,00000000000000092494,4500103321,00000000,000000,CNPJ . 1.471/9755-00 NÃO CADASTRADO PARA NENHUM,PROCESSADO,NaN,NaN,NaN,NaN,78.910,L,BR4,2.999,236.650
3,CTF,NaN,QBQ5463,1065,0147933276,000000002000002795,QBQ5463-01,20220120,000000,20220210,NaN,00000000000005800154,NaN,20220517,194702,CNPJ 41.090.687/0001-80 NÃO CADASTRADO PARA NE...,NAO PROCESSADO,CON-NICOLAU,51220141090687000180550010000055161926367012,5516,1,183.050,L,BR4,5.809,1063.340
4,CTF,0001100031,ERV2452,1061,0107324209,000000002000002794,ERV2452-01,20151016,000000,20151110,NaN,00000000000000069489,4500080513,00000000,000000,NaN,PROCESSADO,NaN,NaN,NaN,NaN,116.040,L,BR4,2.989,346.840

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396249 entries, 0 to 396248
Data columns (total 26 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   ZCATPPROC   396249 non-null  object
 1   VENDOR      396243 non-null  object
 2   OG_FAHRZ    396212 non-null  object
 3   ZCAESTAB    395969 non-null  object
 4   ZCANMABAS   396003 non-null  object
 5   MATERIAL    395968 non-null  object
 6   ZCACLCONT   395967 non-null  object
 7   ZCADTABAS   396249 non-null  object
 8   ZCAHRABAS   396249 non-null  object
 9   ZCADTVENC   396249 non-null  object
 10  ZCADOCMAT   118 non-null     object
 11  ZCADOCBPM   375779 non-null  object
 12  OI_EBELN    358820 non-null  object
 13  CH_AEDTM    396249 non-null  object
 14  APO_CHTIME  396249 non-null  object
 15  ZCAMENLOG   59348 non-null   object
 16  ZCASTPROC   387328 non-null  object
 17  AUSER       174326 non-null  object
 18  ZCHAVACE    134901 non-null  object
 19  CH_NFENUM   134901 non-null  object
 20  ID_SERIES   134901 non-null  object
 21  QUANTITY    396249 non-null  object
 22  UNIT        396225 non-null  object
 23  CURRENCY    396003 non-null  object
 24  ZKFVLRUN    396249 non-null  object
 25  ZKFVLRTOT   396249 non-null  object
dtypes: object(26)
memory usage: 78.6+ MB

In [8]:
df[['OG_FAHRZ','VENDOR','ZCANMABAS','ZCAESTAB']].to_csv('arquivo_centro_errado2.csv',sep=';',index=False)

In [49]:
df[(df['ZCANMABAS'].isin(['0000000001'])) # NUMERO ABASTECIMENTO 
   &
    (df['OG_FAHRZ'].isin(['PRI4377'])) # PLACA
   &
   (
   df['ZCADTABAS'].isin(['20211208'])   # DATA ABASTECIMENTO
   )   
   ][['ZCATPPROC','ZCANMABAS','OG_FAHRZ','ZCADTABAS','ZCAMENLOG','ZCASTPROC']]

,ZCATPPROC,ZCANMABAS,OG_FAHRZ,ZCADTABAS,ZCAMENLOG,ZCASTPROC
330927,MANUAL,0000000001,PRI4377,20211208,IMPORTAÇÃO DE DADOS REALIZADA COM SUCESSO,NaN

In [52]:
df.head(2)

,ZCATPPROC,VENDOR,OG_FAHRZ,ZCAESTAB,ZCANMABAS,MATERIAL,ZCACLCONT,ZCADTABAS,ZCAHRABAS,ZCADTVENC,ZCADOCMAT,ZCADOCBPM,OI_EBELN,CH_AEDTM,APO_CHTIME,ZCAMENLOG,ZCASTPROC,AUSER,ZCHAVACE,CH_NFENUM,ID_SERIES,QUANTITY,UNIT,CURRENCY,ZKFVLRUN,ZKFVLRTOT
0,CTF,NaN,OQI2846,1031,0105229660,000000002000002795,OQI2846-01,20150721,000000,20150811,NaN,00000000000000068988,4500080174,00000000,000000,CNPJ 75.500.015/5 - NÃO CADASTRADO PARA NENHUM F,PROCESSADO,NaN,NaN,NaN,NaN,253.170,L,BR4,2.897,822.790
1,CTF,NaN,OQI2846,1031,0105229660,000000002000002795,OQI2846-01,20150727,000000,20150811,NaN,00000000000000068988,4500080174,00000000,000000,CNPJ 14.719.755/0001-55 NÃO CADASTRADO PARA NE...,PROCESSADO,NaN,NaN,NaN,NaN,140.680,L,BR4,2.897,563.890

In [55]:
df[(df['OI_EBELN']=='4501993845') & (df['ZCADTABAS']=='20211201')]

,ZCATPPROC,VENDOR,OG_FAHRZ,ZCAESTAB,ZCANMABAS,MATERIAL,ZCACLCONT,ZCADTABAS,ZCAHRABAS,ZCADTVENC,ZCADOCMAT,ZCADOCBPM,OI_EBELN,CH_AEDTM,APO_CHTIME,ZCAMENLOG,ZCASTPROC,AUSER,ZCHAVACE,CH_NFENUM,ID_SERIES,QUANTITY,UNIT,CURRENCY,ZKFVLRUN,ZKFVLRTOT
380913,MANUAL,0001108651,BDQ1D48,1041,0000000001,000000002000002795,BDQ1D48-01,20211201,000000,20211231,NaN,00000000000005626491,4501993845,20211217,123150,NaN,PROCESSADO,ADAOLIVEIRA,NaN,NaN,NaN,9.318,L,BR4,1.990,27.861

In [38]:
df.groupby(['ZCATPPROC','ZCASTPROC']).count()

                                 VENDOR  OG_FAHRZ  ZCAESTAB  ZCANMABAS  \
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO    3842      3843      3843       3843
                 PROCESSADO      310737    310740    310740     310740
MANUAL           NAO PROCESSADO     243       242       242        243
                 PROCESSADO       64950     64950     64950      64950
MANUAL VIA FACIL NAO PROCESSADO      63        63        63         63
                 PROCESSADO           6         6         6          6
VIA FACIL        NAO PROCESSADO      36        36        36         36
                 PROCESSADO        7447      7447      7447       7447

                                 MATERIAL  ZCACLCONT  ZCADTABAS  ZCAHRABAS  \
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO      3843       3843       3843       3843
                 PROCESSADO        310740     310740     310740     310740
MANUAL           NAO PROCESSADO       242        242        243        243
                 PROCESSADO         64950      64950      64950      64950
MANUAL VIA FACIL NAO PROCESSADO        63         63         63         63
                 PROCESSADO             6          6          6          6
VIA FACIL        NAO PROCESSADO        36         36         36         36
                 PROCESSADO          7447       7446       7447       7447

                                 ZCADTVENC  ZCADOCMAT  ZCADOCBPM  OI_EBELN  \
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO       3843          0        860         0
                 PROCESSADO         310740        118     310276    286361
MANUAL           NAO PROCESSADO        243          0          0         0
                 PROCESSADO          64950          0      64586     64950
MANUAL VIA FACIL NAO PROCESSADO         63          0          0         0
                 PROCESSADO              6          0          1         6
VIA FACIL        NAO PROCESSADO         36          0          0         0
                 PROCESSADO           7447          0          0      7447

                                 CH_AEDTM  APO_CHTIME  ZCAMENLOG   AUSER  \
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO      3843        3843       3843    3843
                 PROCESSADO        310740      310740      46110  144722
MANUAL           NAO PROCESSADO       243         243        243     242
                 PROCESSADO         64950       64950        133   23536
MANUAL VIA FACIL NAO PROCESSADO        63          63         63      63
                 PROCESSADO             6           6          0       6
VIA FACIL        NAO PROCESSADO        36          36         36       0
                 PROCESSADO          7447        7447          0     282

                                 ZCHAVACE  CH_NFENUM  ID_SERIES  QUANTITY  \
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO      3843       3843       3843      3843
                 PROCESSADO        131002     131002     131002    310740
MANUAL           NAO PROCESSADO         0          0          0       243
                 PROCESSADO             0          0          0     64950
MANUAL VIA FACIL NAO PROCESSADO         0          0          0        63
                 PROCESSADO             0          0          0         6
VIA FACIL        NAO PROCESSADO         0          0          0        36
                 PROCESSADO             0          0          0      7447

                                   UNIT  CURRENCY  ZKFVLRUN  ZKFVLRTOT
ZCATPPROC        ZCASTPROC
CTF              NAO PROCESSADO    3843      3843      3843       3843
                 PROCESSADO      310740    310740    310740     310740
MANUAL           NAO PROCESSADO     243       243       243        243
                 PROCESSADO       64950     64950     64950      64950
MANUAL VIA FACIL NAO PROCESSADO      63        63        63         63
                 PROCESSADO           6         6         6          6
VIA FACIL        NAO PROCESSADO      36        36        36         36
                 PROCESSADO        7447      7447      7447       7447

VALIDAÇÃO INCONSISTÊNCIA CENTRO (ESTABELECIMENTO)

In [58]:
dfCentro = df[(df['OG_FAHRZ'].isin(['APQ9060',
'GFD6614',
'KWR5340',
'AXX3160',
'PXT2G48',
'PAI6408',
'OPO4452'
])) 
              & (df['VENDOR'].isin(['0001101835',
'0001112275',
'0001112799',
'0001104017',
'0001101126',
'0001111429',
'0001111431',
'0001112704',
'0001113081'])) 
              & (df['ZCANMABAS'].isin(['0147132128',
'0147212562',
'0147268946',
'0147288123',
'0147369555',
'0147407860',
'0147450126',
'0147507258',
'0147382908',
'0147451520',
'0147151049',
'0147164628',
'0147218002',
'0147267029',
'0147280293',
'0147296509',
'0147488760',
'0147525834',
'0147592996',
'0147640170',
'0007098-020',
'0007301-020',
'0147415571',
'0147456276',
'0147493877',
'0147516378',
'0147556787',
'0147588226',
'0147625817',
'0147270161',
'0147555091',
'0147151842',
'0147151899',
'0147171436',
'0147186264',
'0147219437',
'0147248970',
'0147277517',
'0147329177',
'0147422982',
'0147527892',
'0147592729',
'0147642414',
'0147255864'
]))]

#dfCentro[['OG_FAHRZ','VENDOR','ZCANMABAS','ZCAESTAB']].to_csv('arquivo_centro_errado.csv',sep=';',index=False)

dfCentro[['OG_FAHRZ','VENDOR','ZCANMABAS','ZCAESTAB']].to_csv('validacao_centro.csv')

VALIDAÇÃO INCONSISTÊNCIA QUANTIDADE_BASE (ESTABELECIMENTO)

In [9]:
dfQuantidade = df[(df['OG_FAHRZ'].isin(['QWX3482','KQY2002','PZR1901','LMA9913'])) 
                  & (df['VENDOR'].isin(['0001112704','B1031','0001103476','0001102031']) ) 
                  & (df['ZCANMABAS'].isin(['0147174539','0147285090','0147384626','0147619297']))]

dfQuantidade[['OG_FAHRZ','VENDOR','ZCANMABAS','QUANTITY','ZKFVLRUN']]

       OG_FAHRZ      VENDOR   ZCANMABAS QUANTITY ZKFVLRUN
111207  QWX3482  0001102031  0147619297   0.010    5.546
158094  LMA9913  0001103476  0147384626   0.290    5.499
283306  KQY2002  0001112704  0147174539   0.050    5.699
303961  PZR1901       B1031  0147285090   0.700    3.629

VALIDAÇÃO VALOR UNITÁRIO

In [10]:
dfValorUnitarioAusente = df[(df['OG_FAHRZ'].isin(['HIQ3754','HKN2280','HKN2281','HKN2294'])) 
                  & (df['VENDOR'].isin(['B1031'])) 
                  & (df['ZCANMABAS'].isin(['0147148903','0147149415','0147148806','0147149281']))]

dfValorUnitarioAusente[['OG_FAHRZ','VENDOR','ZCANMABAS','ZKFVLRUN']]

       OG_FAHRZ VENDOR   ZCANMABAS ZKFVLRUN
297774  HIQ3754  B1031  0147148903   3.629
298276  HKN2280  B1031  0147149415   3.629
298449  HKN2281  B1031  0147148806   3.629
299298  HKN2294  B1031  0147149281   3.629

VALIDAÇÃO ARREDONDAMENTO

In [11]:
dfArredondamento = df[(df['OG_FAHRZ'].isin(['ODO9703','PPD4391','PPL8449','PPW6409'])) 
                  & (df['VENDOR'].isin(['0001100142']) ) 
                  & (df['ZCANMABAS'].isin(['0147139006','0147141421','0147141749','0147143663']))]

dfArredondamento[['OG_FAHRZ','VENDOR','ZCANMABAS','ZKFVLRUN']]

      OG_FAHRZ      VENDOR   ZCANMABAS ZKFVLRUN
19828  ODO9703  0001100142  0147139006   5.199
22163  PPD4391  0001100142  0147141421   5.279
23410  PPL8449  0001100142  0147141749   5.279
23856  PPW6409  0001100142  0147143663   5.279

VALIDAÇÃO INCONSISTÊNCIA DATA_ABASTECIMENTO (DATA_ABASTECIMENTO)

In [12]:
dfDTAbastecimento = df[(df['OG_FAHRZ'].isin(['HIQ3754','HKN2280','HKN2281','HKN2294'])) 
                  & (df['VENDOR'].isin(['B1031']) ) 
                  & (df['ZCANMABAS'].isin(['0147148903','0147149415','0147148806','0147149281']))]

dfDTAbastecimento[['OG_FAHRZ','VENDOR','ZCANMABAS','ZCADTABAS']]

       OG_FAHRZ VENDOR   ZCANMABAS  ZCADTABAS
297774  HIQ3754  B1031  0147148903   20211201
298276  HKN2280  B1031  0147149415   20211201
298449  HKN2281  B1031  0147148806   20211201
299298  HKN2294  B1031  0147149281   20211201