In [1]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [2]:
import sys
sys.path.insert(1, '../Classes/classe/')

from ClassGrafico import Grafico
from ClassArquivo import Arquivo_DataFrame
from ClassGeraArquivo import GeraArquivo

In [3]:
arquivoDados = 'C:\\Temp\\SeguracaoPublica\\BaseDPEvolucaoMensalCisp.csv'
sep = ';'
encoding = 'latin-1'
header = 0
numeroColunas = [1,2,4,17,38,39]
nomeColunas = ['NumMes'
                 ,'NumAno'
                 ,'NomRegiao'
                 ,'NumEstupro'
                 ,'NumFurtoCelular'
                ,'NumFurtoBicicleta']
parametro = 0

sheet_name = 'teste'
index = False
data = ''

dataframe = Arquivo_DataFrame(arquivoDados, sep, encoding, header,numeroColunas, nomeColunas, parametro, sheet_name, index)

dfDadosSeguranca = dataframe.carregaArquivoCSV()

dfDadosSeguranca

,NumMes,NumAno,NomRegiao,NumEstupro,NumFurtoCelular,NumFurtoBicicleta
0,1,2003,5,0,37,
1,1,2003,5,1,23,
2,1,2003,5,2,47,
3,1,2003,1,2,8,
4,1,2003,1,2,1,
...,...,...,...,...,...,...
31692,8,2022,35,1,3,0
31693,8,2022,33,2,0,0
31694,8,2022,33,5,11,0
31695,8,2022,33,1,2,0
31696,8,2022,28,5,0,0

In [4]:
arquivo = '../Python_OO/Resumo_Dados_Seguranca.csv'
separador = ';'
encoding = 'utf-8'
header = 0
index = False
baseDados = dfDadosSeguranca

arquivoConfig = ''
schemaDB = ''
tabelaDB = ''
diretorioDestinoArquivo = ''
nomeArquivoGerado = ''

dataframe = GeraArquivo(arquivo
, separador
, encoding
, header
, index
, sheet_name
, arquivoConfig
, schemaDB
, tabelaDB
, diretorioDestinoArquivo
, nomeArquivoGerado
, baseDados)

dataframe.geraArquivoCSV()

In [5]:
arquivo = '../Python_OO/Resumo_Dados_Seguranca.xlsx'
sheet_name = 'Pesquisa'
separador = ';'
encoding = 'utf-8'
header = 0
index = False
baseDados = dfDadosSeguranca

dataframe = GeraArquivo(arquivo
, separador
, encoding
, header
, index
, sheet_name
, arquivoConfig
, schemaDB
, tabelaDB
, diretorioDestinoArquivo
, nomeArquivoGerado
, baseDados)

dataframe.geraArquivoEXCEL()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:211: FutureWarning: the 'encoding' keyword is deprecated and will be removed in a future version. Please take steps to stop the use of 'encoding'
  return func(*args, **kwargs)

In [6]:
arquivo = ''
sheet_name = ''
separador = ';'
encoding = 'utf-8'
header = 0
index = False
baseDados = pd.DataFrame()

arquivoConfig = 'config'
schemaDB = 'copa'
tabelaDB = 'TB_Arbitragem'
diretorioDestinoArquivo = 'Python_OO'
nomeArquivoGerado = 'Dados_Copa_2022_{0}'.format(tabelaDB)

dataframe = GeraArquivo(arquivo
, separador
, encoding
, header
, index
, sheet_name
, arquivoConfig
, schemaDB
, tabelaDB
, diretorioDestinoArquivo
, nomeArquivoGerado
, baseDados)

dataframe.exportaDadosSQLServer()

C:\Temp\Python_OO\../Classes/classe\ClassGeraArquivo.py:69: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnxn)